<ion-view view-title="{{title}} {{getResourceText('LIT_PREVIEW')}}">
    <ion-content overflow-scroll="true">
        <ion-list>
            <div>
                <div class="item item-divider"
                     ng-style="{'background-color': akWizard.BackColor}">
                    <h2 class="title"
                        ng-style="{'color': akWizard.ForeColor }"
                        ng-bind-html="akWizard.Name"></h2>
                </div>
                <div ng-repeat="akStep in akWizard.Steps">
                    <div class="item item-divider"
                         ng-style="{'background-color': akWizard.GroupBackColor }">
                        <h2 class="title"
                            ng-style="{'color': akWizard.GroupForeColor }"
                            ng-bind-html="akStep.Name"></h2>
                    </div>
                    <div class="actionPlanStepCss">
                        <div ng-if="akColumn.IsDependencyMet" ng-repeat="akColumn in akStep.Columns">
                            <div class="list card" ng-init="personAkStepColumnAnswer = getPersonAkStepColoumnAnswer(akColumn.FileColumnId)">
                                <div class="item cardColor showFullText">
                                    <div ng-bind-html="akColumn.Text"></div>
                                </div>
                                <div ng-if="akColumn.ColumnGuides.length === 0" ng-include="loadAskadePreviewTemplate(akColumn.ColumnType)"></div>
                                <div ng-if="akColumn.ColumnGuides.length !== 0" ng-repeat="guide in akColumn.ColumnGuides"
                                     ng-init="personGuide = getColumnGuideEntity(guide.Id, akColumn.FileColumnId)">
                                    <div class="actionPlanMargin item item-divider borderNone" align-title="left">
                                        <h2 class="title" ng-bind-html="guide.Text"></h2>
                                    </div>
                                    <div class="item fullWidth actionPlanMargin apwLabel">
                                        {{personGuide.AnswerText}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="personAskadeWizard.Attachments.length > 0">
                <div class="list card">
                    <div class="item cardColor"
                         ng-style="{'background-color': akWizard.GroupBackColor, 'color': akWizard.GroupForeColor }">
                        <h2>{{::getResourceText('LIT_ATTACHMENTS')}}</h2>
                    </div>
                    <div class="item item-body">
                        <div ng-repeat="pAttachment in personAskadeWizard.Attachments">
                            <div class="row removePadding listItem imageComments">
                                    <div class="col col-25 removePadding rightMargin">
                                        <img ng-src="{{getThumnail(pAttachment)}}"
                                             class="Thumbnail-left addImage darkImg"
                                             ng-model="pAttachment.FilePath"
                                             ng-if="showImageViewer(pAttachment)"
                                             on-tap="showImage(pAttachment)" />
                                    </div>
                                    <div ng-if="showImageViewer(pAttachment)" class="col col-75">
                                        <div class="item fullWidth actionPlanMargin apwLabel deleteMargin">
                                            {{pAttachment.FileHeader}}
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>