<div class="list card">
    <div class="item cardColor overflowInitial"
         ng-style="{'background-color': questionnaire.QuestionBackColor }"
         ng-class="{ 'showDependencyIcon': q.ShowDependencyQuestion === true}">
        <div class="buttons displayInlineBlock verticalTopAlign" ng-if="readAloud">
            <div class="icon displayInlineBlock helpLinkIcon">
                <img ng-src="images/speaker.png" class="darkImg" on-tap="ttsConvert(q.Text)" />
            </div>
        </div>
        <h2 ng-bind-html="q.Text"
            class="displayInlineBlock"
            ng-class="{ 'titleWidth-DependencyIcon' : q.ShowDependencyQuestion === true || q.HelpText || q.HelpLink || readAloud === true,
                        'fullWidth': q.HelpText == null && q.ShowDependencyQuestion === false && q.HelpLink == null && readAloud === false,
                        'fullWidthReadAloud': q.HelpText == null && q.ShowDependencyQuestion === false && q.HelpLink == null && readAloud === true,
                        'singleIconQueDepn': q.ShowDependencyQuestion === true && q.HelpText == null && q.HelpLink == null && readAloud === false,
                        'singleIconQueDepnReadAloud': q.ShowDependencyQuestion === true && q.HelpText == null && q.HelpLink == null && readAloud === true,
                        'singleIconQueHelpLink': q.ShowDependencyQuestion === false && q.HelpText == null && q.HelpLink && readAloud === false,
                        'singleIconQueHelpLinkReadAloud': q.ShowDependencyQuestion === false && q.HelpText == null && q.HelpLink && readAloud === true,
                        'singleIconQueHelpText': q.ShowDependencyQuestion === false && q.HelpText && q.HelpLink == null && readAloud === false,
                        'singleIconQueHelpTextReadAloud': q.ShowDependencyQuestion === false && q.HelpText && q.HelpLink == null && readAloud === true}"
            ng-style="{'color': getFontColor(questionnaire.QuestionForeColor) }"></h2>
        <div class="buttons alignCenter displayInlineBlock verticalTopAlign">
            <div class="icon displayInlineBlock helpLinkIcon" ng-if="q.HelpLink">
                <a class="button button-icon {{::getIconValue('LinkOutline')}} iconAllignmentQue"
                   on-tap="openHelpLink(q)"></a>
            </div>
            <div class="icon displayInlineBlock" ng-if="q.HelpText">
                <a class="button button-icon {{::getIconValue('Help')}} iconAllignmentQue"
                   on-touch="showHelpText(q)"></a>
            </div>
            <div class="icon displayInlineBlock" ng-if="q.ShowDependencyQuestion === true">
                <a class="button button-icon {{::getIconValue('ShowDependency')}} iconAllignmentQue"
                   ng-style="{ 'color': '#3D9A05' }"
                   on-touch="showDependencyQueAns(q)"></a>
            </div>
        </div>
    </div>
    <div class="item item-body" ng-init="pqaView = getPersonQuestionAnswer(q.Id)">
        <div>
        <div class="commentboxMargin" id="border_{{::qg.Id}}_{{::q.Id}}" ng-include="loadTemplate(q)"></div>
    </div>
        <div ng-if="questionnaire.ValuationQuestion.length !== 0" class="valQCss">
            <div ng-if="!q.IgnoreValuationQuestion" class="marginTop">
                <div ng-include="loadValuationTemplate()"></div>
            </div>
        </div>
        <div ng-if="q.EnableComment" ng-init="checkCommentRequired(q, pqaView);"
             ng-class="{ 'has-errors' : formQuestionnaire.commentText_{{::qg.Id}}_{{::q.Id}}.$invalid
                && pqaView.IsCommentRequired == true, 'no-errors' : formQuestionnaire.commentText_{{::qg.Id}}_{{::q.Id}}.$valid
                && pqaView.IsCommentRequired == true }">
            <label class="item item-input formInputText formInputQueLong item-input alignAdjustElement"
                   ng-class="{'formRequired' : pqaView.IsCommentRequired == true,
                                 'formNotRequired' : pqaView.IsCommentRequired == false }">
                <textarea ng-auto-expand sanitizescript
                          placeholder="{{questionnaire.CommentLabel !== null ? questionnaire.CommentLabel : getResourceText('LIT_COMMENT')}}"
                          class="commentBox"
                          rows="4"
                          name="commentText_{{::qg.Id}}_{{::q.Id}}"
                          ng-model="pqaView.Comment"
                          ng-required="pqaView.IsCommentRequired">
                </textarea>
                <a class="button micQueComment button-icon icon ion-android-microphone placeholder-icon" ng-if="readAloud && androidVersion"
                   on-touch="startListening(pqaView, 'Comment')"></a>
            </label>
        </div>
        <div class="item item-body imagePadding" ng-if="q.EnableFile == true" ng-init="checkFileAttachmentRequired(q, pqaView);"
             ng-class="{ 'has-errors' : pqaView.FileLocation == null && pqaView.IsFileAttachmentRequired == true,
             'no-errors' : pqaView.FileLocation != null && pqaView.IsFileAttachmentRequired == true }">
            <div class="row" ng-if="pqaView.FileLocation == null">
                <div class="ion-ios-plus-outline col-20 imageAdd"
                     on-touch="selectFile(false,pqaView)">
                </div>
                <h3 class="col-50 imageText">{{::getResourceText('LIT_ADD_PHOTO')}}</h3>
            </div>
            <!--<div class="row" ng-if="pqaView.FileLocation == null && canPickDoc">
                <file-uploader extensions="{{allowedExtensions}}" upload="selectFile" entity="pqaView" mod="apv" />
            </div>-->
            <div class="col" ng-if="pqaView.FileLocation != null">
                <div class="row removePadding listItem imageComments">
                    <div class="col col-70 listItem removePadding ">
                        <img ng-src="{{getThumnail(pqaView)}}"
                             class="Thumbnail-left addImage darkImg"
                             ng-model="pqaView.FileLocation"
                             ng-if="showImageViewer(pqaView)"
                             on-tap="showImage(pqaView)" />
                    </div>
                    <div class="ion-ios-close-outline col col-10 closeImage"
                         ng-if="showImageViewer(pqaView)"
                         on-tap="deleteQuestionImage(pqaView)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>