<div ng-class="{ 'has-errors' : formQuestionnaire.rb_{{::qg.Id}}_{{::q.Id}}_{{::vq.Id}}.$invalid
           && {{::q.IsRequired}} == true && {{::vq.IsRequired}} == true, 'no-errors' : formQuestionnaire.rb_{{::qg.Id}}_{{::q.Id}}_{{::vq.Id}}.$valid
           && {{::q.IsRequired}} == true && {{::vq.IsRequired}} == true}">
    <ion-radio ng-repeat="vao in vq.ValuationAnswerOption" ng-click="setVQSelected(q.Id,vq.Id, vao.Id, $event)"
               id="rb_{{::qg.Id}}_{{::q.Id}}_{{::vq.Id}}_{{::vao.Id}}" class="answerOptionRadio_{{::vq.Id}}_{{::vao.Id}} alignSmileyWithAO showCompleteAnswerOptionRadio"
               name="rb_{{::qg.Id}}_{{::q.Id}}_{{vq.Id}}"
               ng-value="vao.Id"
               ng-model="getPersonVQAnswer(q.Id,vq.Id).AnswerId"
               ng-required="!getRequiredForVQRadioButtonList(qg.Id,q.Id,vq.Id,vq.IsRequired)">
        {{::vao.Text}}<div ng-if="vao.ImageFile !== null" ng-bind-html="vao.ImageFile"></div>
    </ion-radio>
</div>