.favnavi {
    -webkit-animation: blinker 1s 1 2s;
    animation: blinker 1s 1 2s;
}

.favblink {
    -webkit-animation: blinker 1s 1 1s;
    animation: blinker 1s 1 1s;
}

.favDelete {
    -webkit-animation: blinker 0.5s 1 10s;
    animation: blinker 0.5s 1 10s;
}



@-webkit-keyframes blinker {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes blinker {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

.slidecontent {
    -webkit-animation: slide 3s 1 4s;
    animation: slide 3s 1 4s;
}

@-webkit-keyframes slide {
    from {
        transform: translate3d(0px, 0px, 0px);
    }

    to {
        transform: translate3d(275px, 0px, 0px);
    }
}

@keyframes slide {
    from {
        transform: translate3d(0px, 0px, 0px);
    }

    to {
        transform: translate3d(275px, 0px, 0px);
    }
}

.reorderIconGuide {
    -webkit-animation-name: showIcon;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 2s;
    animation-name: showIcon;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-delay: 2s;
}

@-webkit-keyframes showIcon {
    from {
        opacity: 1;
        transform: translate3d(75px, 0px, 0px);
    }

    to {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
}

@keyframes showIcon {
    from {
        opacity: 1;
        transform: translate3d(75px, 0px, 0px);
    }

    to {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
}

.deleteTile {
    -webkit-animation: delete 1s 1 10s;
    animation: delete 1s 1 10s;
}

@-webkit-keyframes delete {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes delete {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.slider-pager {
    width: 20% !important;
    left: 40% !important;
}


.slider-slides {
    background-color: white !important;
}

.smallScreenHomeslide, .smallScreenFavoriteslide {
    height: 60% !important;
}

.largeScreenHomeslide, .largeScreenFavoriteslide {
    height: 75% !important;
}

#guidebtnclr {
    color: #a5a5a5;
}

#guideendbtn {
    z-index: 1 !important;
    position: absolute;
    left: 2%;
    right: 2%;
}

.smallScreenEnd {
    bottom: -60%;
}

.largeScreenEnd {
    bottom: -30%;
}

#guideskipbtn {
    z-index: 1;
    font-size: 20px;
    position: absolute;
    left: 15% !important;
}

.smallScreenButton {
    bottom: -66% !important;
}

.largeScreenButton {
    bottom: -32% !important;
}

#guidenextbtn {
    z-index: 1;
    font-size: 20px;
    position: absolute;
    right: 15% !important;
}

.instructions {
    z-index: 1;
    color: #a5a5a5;
    font-size: 1.4rem;
    text-align: center;
    position: absolute;
    width: 100%;
}

.smallScreeInstructions { 
    bottom: -43% !important;
}

.largeScreenInstructions {
    bottom: -18% !important;
}

.guideImg {
    z-index: 1;
    position: absolute;
    width: 80%;
    left: 10%;
}

.smallScreenImg {
    bottom: -10%;
}

.largeScreenImg {
    bottom: -4%;
}

.instructions > p {
    line-height: 1.8rem;
    margin: 5px 5px 5px 5px;
}

.guidepadding {
    padding-top: 44px;
}


/* animation */

.moveDownItem {
    -webkit-animation: mymovedown 4s 1 2s;
    animation: mymovedown 4s 1 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes mymovedown {
    from { top: 0px; }
    to { top: 95px; }
  }
@keyframes mymovedown {
    from { top: 0px; }
    to { top: 95px; }
  }

.moveUpItem {
    -webkit-animation: mymoveup 2s 1 3s;
    animation: mymoveup 2s 1 3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: -1;
  }
@-webkit-keyframes mymoveup {
    from { top: 0px; }
    to { top: -95px; }
  }
@keyframes mymoveup {
    from { top: 0px; }
    to { top: -95px; }
  }

.guideBtnAlignment{
    bottom: 0px !important;
}

.guideEndBtnAlignment{
    bottom: 5% !important;
}