<ion-list>
    <div class="item item-divider"
         ng-class="{ 'item-icon-right': akStep.Description }"
         align-title="left"
         ng-style="{'background-color': akWizard.GroupBackColor }"
         on-touch="showGroupDescription(akStep.Name, akStep.Description)">
        <div class="buttons displayInlineBlock" ng-if="readAloud" ng-class="{ 'textSpeechAlign': readAloud}">
            <div class="icon displayInlineBlock helpLinkIcon">
                <img ng-src="images/speaker.png" class="darkImg" on-touch="ttsConvert(akStep.Name, $event)" />
            </div>
        </div>
        <h2 class="title showFullText" ng-class="{ 'txtSpchAlignColumn': readAloud}"
            ng-style="{'color': akWizard.GroupForeColor }"
            ng-bind-html="akStep.Name"></h2>
        <div class="icon" ng-if="akStep.Description">
            <a class="button button-icon {{::getIconValue('Help')}}"></a>
        </div>
    </div>
    <question-template ng-if="akColumn.IsDependencyMet" templateUrl="templates/askade_templates/askadeColumnTemplate.html"
                       ng-repeat="akColumn in akStep.Columns">
    </question-template>
    <div ng-if="(currentStepIndex == akStepsLength - 1 && personAskadeWizard.Attachments.length > 0)">
        <div class="list card">
            <div class="item cardColor" ng-style="{'background-color': akWizard.GroupBackColor, 'color': akWizard.GroupForeColor }">
                <h2>{{::getResourceText('LIT_ATTACHMENTS')}}</h2>
            </div>
            <div class="item item-body imagePadding">
                <div class="row imagePaddingBot">
                    <div class="ion-ios-plus-outline col-20 imageAdd"
                         on-touch="selectFile(false)">
                    </div>
                    <h3 class="col-50 imageText">{{::getResourceText('LIT_ADD_PHOTO')}}</h3>
                </div>
                <!--<div class="row imagePaddingBot" ng-if="canPickDoc">
                    <file-uploader extensions="{{allowedExtensions}}" upload="selectFile" attachments="personAskadeWizard.Attachments" mod="askade" />
                </div>-->
                <div ng-repeat="pAttachment in personAskadeWizard.Attachments">
                    <div class="col" ng-if="pAttachment.FilePath != null">
                        <div class="row removePadding listItem imageComments">
                            <div class="col col-20 listItem removePadding rightMargin">
                                <img ng-src="{{getThumnail(pAttachment)}}"
                                     class="Thumbnail-left addImage darkImg"
                                     ng-model="pAttachment.FilePath"
                                     ng-if="showImageViewer(pAttachment)"
                                     on-tap="showImage(pAttachment)" />
                            </div>
                            <div ng-if="showImageViewer(pAttachment)" class="col col-70">
                                <textarea ng-model="pAttachment.FileHeader" sanitizescript
                                          class="formInput formInputLong formNotRequired deleteMargin commentFontStyle"
                                          name="imageComment" placeholder={{getResourceText('LIT_COMMENT')}}
                                          ng-auto-expand>
                            </textarea>
                            </div>
                            <div class="ion-ios-close-outline col col-10 closeImage"
                                 ng-if="showImageViewer(pAttachment)"
                                 on-tap="deleteAttachment(pAttachment)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="(currentStepIndex == akStepsLength - 1 && akWizard.EnableEditGeoLocation && isEnableLocation)">
        <div class="list card">
            <div class="item cardColor"
                ng-style="{'background-color': akWizard.GroupBackColor, 'color': akWizard.GroupForeColor }">
                <h2>{{::getResourceText('LIT_MOBILE_GEOLOCATION_EDIT')}}</h2>
            </div>
            <div class="item item-body imagePadding">
                <div class="row imagePaddingBot" ng-init="data = personAskadeWizard">
                    <div map-template class="mapAlignmnet" ng-model="data">
                        <img ng-src="images/map.png" class="{{customClass}}" alt="map" on-tap="openMap()">
                        <div ng-if="!isDisabled">
                            <span ng-bind-html="personAskadeWizard.Address" class="GeoLocationValue"></span>
                        </div>
                        <h3 ng-if="isDisabled" class="col-50 imageText">
                            {{::getResourceText('LIT_MOBILE_PICK_LOCATION')}}</h3>
                    </div>

                </div>
            </div>
        </div>
    </div>
</ion-list>
