<ion-view view-title="SafetyNet">
    <ion-content overflow-scroll="true" class="has-subheader">
        <ion-refresher pulling-text="{{getResourceText('LIT_PULL_TO_REFRESH')}}"
                       on-refresh="updateAskade()">
        </ion-refresher>
        <ion-list>
            <a class="item" ng-class="{ 'item-icon-right' : currentState == 'app.akwTabs.completed'}"
               ng-repeat="akw in akwList"
               on-tap="navigateAskadeAnswering(akw.FileTypeId)">
                <div class="row removePadding listItem">
                    <div class="col-10 listImage" ng-bind-html="akw.ImageFileBase64" ng-if="akw.ImageFileBase64 != null"></div>
                    <div ng-class="{ 'col col-90' : akw.ImageFileBase64 !== null, 'col' : akw.ImageFileBase64 === null }">
                        <h2 class="showFullText">{{::akw.Name}}</h2>
                        <p ng-bind-html="akw.Description"></p>
                    </div>
                </div>
            </a>
        </ion-list>
    </ion-content>
</ion-view>
