<ion-content overflow-scroll="true" class="has-subheader">
    <ion-list ng-repeat="akw in akwList">
        <label class="item item-divider">
            {{::akw.Name}}
        </label>
        <ion-item ng-repeat="answer in akw.Answers"
                  class="row">
            <div class="col col-90"
                 on-tap="navigateAskadeAnswering(answer.PersonAskadeAnswer.Id)">
                <h2>{{::answer.TimeStamp}}</h2>
            </div>
            <div class="col-10">
                <a class="button uploadFail button-icon icon {{::getIconValue('DeleteAnswer')}}"
                   on-touch="deletePersonAkByPAkId(answer.PersonAskadeAnswer)">
                </a>
            </div>
        </ion-item>
    </ion-list>
</ion-content>