<div
  class="questionnaireMargin"
  ng-class="{ 'has-errors' : formQuestionnaire.shortText_{{::qg.Id}}_{{::q.Id}}.$invalid
       && {{::q.IsRequired}} === true, 'no-errors' :
       formQuestionnaire.shortText_{{::qg.Id}}_{{::q.Id}}.$valid
       && {{::q.IsRequired}} === true}">
  <label
    class="item item-input formInput formInputShort questionnaireTitle actionPlanTitle"
    ng-class="{'formRequired' : {{::q.IsRequired}} == true, 'formNotRequired' : {{::q.IsRequired}} == false }">
    <input
      sanitizescript
      type="text"
      name="shortText_{{::qg.Id}}_{{::q.Id}}"
      ng-model="pqaView.AnswerText"
      ng-required="{{::q.IsRequired}}"
    />
    <a
      class="
        button
        micQueComment
        button-icon
        icon
        ion-android-microphone
        placeholder-icon
      "
      ng-if="readAloud && androidVersion"
      on-touch="startListening(pqaView, 'ShortText')"
    ></a>
  </label>
</div>
