<div class="item item-input formInputLongText formInputLong item-input">
    <div class="timePickerAlignmnet timePickerWidthAlignmnet">
        <div class="timePickerAlignmnet">
            <label class="hourField">
                <input id="hour" placeholder="HH" type="tel" pattern="[0-9]+" ng-model="hour" maxlength="2"
                    ng-change="updateHours()" ng-keypress="pressed(true)" />
            </label>
            :
            <label class="minuteField">
                <input id="minute" type="tel" placeholder="MM" pattern="[0-9]+" ng-model="minute" maxlength="2"
                    ng-change="updateMinutes()" ng-keypress="pressed(false)" />
            </label>
            <i class="clockIcon icon-left {{::getIconValue('Timer')}}"></i>
        </div>
    </div>
</div>