<ion-view animation="slide-left-right" ng-init="loadStyleProperties()">
    <ion-pane>
        <div>
            <img src="images/welcome/DivLine@2x.png" class="guideImg" ng-style="{{getLineHeightForWelcome()}}" />
        </div>
        <div ng-model="welcomeIndex" ng-init="welcomeIndex=0">
            <div ng-if="welcomeIndex <= 1">
                <ion-buttons id="skipbtn">
                    <button name="skip" class="button button-clear" id="btnclr" on-tap="onWelcomeScreenFinish()">
                        <b>{{getResourceLabelText('LIT_MOBILE_WELCOME_SKIP')}}</b>
                    </button>
                </ion-buttons>
                <ion-buttons id="nextbtn" on-tap="next()">
                    <button accessibility-id="next" name="next" class="button button-clear" id="nxtbtnclr">
                        <b>{{getResourceLabelText('LIT_MOBILE_WELCOME_NEXT')}}</b>
                    </button>
                </ion-buttons>
            </div>
            <div ng-if="welcomeIndex > 1">
                <ion-buttons id="nextbtn">
                    <button class="button button-clear" id="nxtbtnclr" on-tap="onWelcomeScreenFinish()">
                        <b>{{getResourceLabelText('LIT_MOBILE_WELCOME_DONE')}}</b>
                    </button>
                </ion-buttons>
            </div>
        </div>
        <ion-slide-box on-slide-changed="slideHasChanged($index)">
            <ion-slide>
                <center>
                    <ion-pane>
                        <div class="slideContent">
                            <div>
                                <img src="images/welcome/WelcomeScreenImage1@2x.png" class="imgcenter">
                            </div>
                            <div id="welcometxt">
                                <b>
                                    <h3>{{getResourceLabelText('MSG_MOBILE_WELCOME_TO')}}</h3>
                                    <p id="textclr">{{getResourceLabelText('MSG_MOBILE_WELCOME_LETS_SETUP')}}</p>
                                </b>
                            </div>
                        </div>
                    </ion-pane>
                </center>
            </ion-slide>


            <ion-slide>
                <center>
                    <ion-pane>
                        <div class="slideContent">
                            <div>
                                <img src="images/welcome/WelcomeScreenImage2@2x.png" class="imgcenter">
                            </div>
                            <div id="welcometxt">
                                <b>
                                    <h3>{{getResourceLabelText('MSG_MOBILE_WELCOME_FIND_ORGANIZATION')}}</h3>
                                    <p id="textclr">
                                        {{getResourceLabelText('MSG_MOBILE_WELCOME_LINK1')}}<br>{{getResourceLabelText('MSG_MOBILE_WELCOME_LINK2')}}<br>{{getResourceLabelText('MSG_MOBILE_WELCOME_LINK3')}}
                                    </p>
                                    <p id="textclr">{{getResourceLabelText('MSG_MOBILE_WELCOME_OR')}}</p>
                                </b>
                                <button class="button button-clear btn-find-manual" id="nxtbtnclr" ui-sref="screen">
                                    <b>{{getResourceLabelText('MSG_MOBILE_WELCOME_FIND_MANUALLY')|uppercase}}</b>
                                </button>
                            </div>
                        </div>
                    </ion-pane>
                </center>
            </ion-slide>


            <ion-slide>
                <center>
                    <ion-pane>
                        <div class="slideContent">
                            <div>
                                <img src="images/welcome/WelcomeScreenImage3@2x.png" class="imgcenter">
                            </div>
                            <div id="welcometxt">
                                <b>
                                    <h3>{{getResourceLabelText('MSG_MOBILE_WELCOME_MAKE_DIFFERENCE')}}</h3>
                                    <p id="textclr">
                                        {{getResourceLabelText('MSG_MOBILE_WELCOME_HELPS_OTHERS1')}}<br>{{getResourceLabelText('MSG_MOBILE_WELCOME_HELPS_OTHERS2')}}
                                    </p>
                                    <p id="textclr">
                                        {{getResourceLabelText('MSG_MOBILE_WELCOME_MAKE_REGISTRATION1')}}<br>{{getResourceLabelText('MSG_MOBILE_WELCOME_MAKE_REGISTRATION2')}}
                                    </p>
                                </b>
                            </div>
                        </div>
                    </ion-pane>
                </center>
            </ion-slide>

        </ion-slide-box>
    </ion-pane>
</ion-view>