<div class="list list-inset deleteMargin" ng-init="pqaLongText = getPersonQuestionAnswer(q.Id)"
     ng-class="{ 'has-errors' : formQuestionnaire.longText_{{::qg.Id}}_{{::q.Id}}.$invalid
       && {{::q.IsRequired}} == true, 'no-errors' :
       formQuestionnaire.longText_{{::qg.Id}}_{{::q.Id}}.$valid
       && {{::q.IsRequired}} == true}">
    <label class="item item-input formInputText formInputQueLong item-input"
           ng-class="{'formRequired' : {{::q.IsRequired }} == true, 'formNotRequired' : {{::q.IsRequired}} == false}">
        <textarea ng-model="pqaLongText.AnswerText" sanitizescript
                  name="longText_{{::qg.Id}}_{{::q.Id}}"
                  ng-auto-expand ng-change="textDependencyTrigger(q, pqaLongText)" ng-model-options="{allowInvalid: true}"
                  ng-required="{{::q.IsRequired}}">
        </textarea>
        <a class="button micQueComment button-icon icon ion-android-microphone placeholder-icon" ng-if="readAloud && androidVersion"
           on-touch="startListening(pqaShortText, 'LongText')"></a>
    </label>
</div>