<ion-item answercolid="{{MultiTaskEntity.Id}}"
          callback="setApwDate" class="pickerDark picker">
    <label name="datePickerApproved_{{MultiTaskEntity.WizardStepId}}_{{MultiTaskEntity.UniqueId}}"
           class="button button-block buttonValue button-outline fontButtonIcon icon-left {{::getIconValue('Calender')}}"
           ng-class="{ 'has-errors' : formActionPlan.datePickerApproved_{{MultiTaskEntity.WizardStepId}}_{{MultiTaskEntity.UniqueId}}.$invalid && {{::wizColumn.IsRequired}} == true,
                         'no-errors' : formActionPlan.datePickerApproved_{{MultiTaskEntity.WizardStepId}}_{{MultiTaskEntity.UniqueId}}.$valid && {{::wizColumn.IsRequired}} == true }"
           ng-required="{{::wizColumn.IsRequired}}"
          ng-click="showApprovedDate(wizColumn, MultiTaskEntity)"
           ng-disabled="isDatePickDisabled"
          ng-model="MultiTaskEntity.ApprovedDate">
        {{ MultiTaskEntity.ApprovedDate| date:'dd-MM-yyyy' }}
    </label>
</ion-item>