<ion-nav-bar class="headerColor headerFooterColor">
    <ion-view view-title="{{title}}" name="login-view">
        <ion-content class="padding" overflow-scroll="true">
            <div id="imageLogo" class="imageCentre"></div>
            <form ng-submit="login(data)" novalidate>
                <div ng-if="frontPageText && isSSOEnabled">
                    <div postscript id="frontPage" class="card inAppCss">
                        <span class="item item-text-wrap" id="frontPageBind"
                            ng-bind-html="getExtendedHtml(frontPageText)">
                        </span>
                    </div>
                    <hr />
                </div>
                <div class="list list-inset appBgColor">
                    <label ng-if="disableLoginPanelForCustomer == false" class="item item-input marginBottom">
                        <input type="text" sanitizescript placeholder="{{getResourceText('LIT_USERNAME')}}"
                            ng-model="data.username" />
                    </label>
                    <label ng-if="disableLoginPanelForCustomer == false" class="item item-input">
                        <input type="password" placeholder="{{getResourceText('LIT_PASSWORD')}}"
                            ng-model="data.password" />
                    </label>
                </div>
                <button ng-if="disableLoginPanelForCustomer == false" class="button button-block buttonColor">
                    {{getResourceText('LIT_LOGIN_TEXT')}}
                </button>
                <div ng-if="frontPageText && !isSSOEnabled">
                    <hr />
                    <div postscript id="frontPage" class="card inAppCss">
                        <span class="item item-text-wrap" id="frontPageBind"
                            ng-bind-html="getExtendedHtml(frontPageText)">
                        </span>
                    </div>
                </div>
            </form>
        </ion-content>
    </ion-view>
    <ion-nav-buttons side="right">
        <div class="loginHeaderIcons">
            <button class="button button-clear btnUrlScanner" ng-if="showScanner" on-touch="ScanQRCode()">
                <img class="urlScanner" src="images/qrcode-wh.png" />
            </button>
            <button class="button button-icon button-clear {{getIconValue('Setting')}} fontWhite"
                on-touch="openMoreOptions($event)"></button>
        </div>
    </ion-nav-buttons>
    <div class="scannerButtons loginScanBtn">
        <a scanneroptions class="icon {{scannerCloseIcon}} cancleScan"></a>
        <a scanneroptions class="icon {{flipCameraIcon}} flipCam"></a>
        <a scanneroptions class="icon {{flashCameraIcon}} flashCam"></a>
    </div>
</ion-nav-bar>