<ion-view view-title="Guide Screen">
    <div ng-model="favGuideScreenIndex" ng-init="favGuideScreenIndex=0">
        <div>
            <img src="images/welcome/DivLine@2x.png"
                 class="guideImg"
                 ng-style="{{getLineHeightForFav()}}" />
        </div>
        <div ng-if="favGuideScreenIndex === 0">
            <ion-buttons id="guideskipbtn"
                         ui-sref="app.home"
                         class="guideBtnAlignment"
                         >
                <button class="button button-clear" id="guidebtnclr">
                    <b>{{getResourceLabelText('LIT_MOBILE_WELCOME_SKIP')|uppercase}}</b>
                </button>
            </ion-buttons>
            <ion-buttons id="guidenextbtn" 
                         class="guideBtnAlignment"
                     >
                <button class="button button-clear" on-tap="next()" id="nxtbtnclr">
                    <b>{{getResourceLabelText('LIT_MOBILE_WELCOME_NEXT')|uppercase}}</b>
                </button>
            </ion-buttons>
        </div>
        <ion-buttons id="guideendbtn"
                     class="guideEndBtnAlignment"
                     ng-if="favGuideScreenIndex === 1">
            <button class="button icon-right ion-chevron-right button-block headerColor"
                    ui-sref="app.home">
                {{getResourceLabelText('LIT_MOBILE_GUIDE_END')}}
            </button>
        </ion-buttons>
    </div>
    <ion-slide-box on-slide-changed="slideChanged(index)" ng-init="smallDevice = getDeviceVal()">
        <ion-slide class="homeslide" ng-class="{ 'smallScreenHomeslide': smallDevice === true, 'largeScreenHomeslide': smallDevice === false}">
            <div>
                <div ng-init="loadSlides(slideIndex)" ng-include="slidesPath"></div>
                <!-- using the same button which is used in welcome page -->
                <div>
                    <div class="instructions" ng-class="{ 'smallScreeInstructions': smallDevice === true, 'largeScreenInstructions': smallDevice === false}">
                        <p>
                            {{getGuideResourceLabelText('MSG_MOBILE_GUIDE_INSTRUCTION1')}}
                            {{getGuideResourceLabelText('MSG_MOBILE_GUIDE_INSTRUCTION2')}}
                            {{getGuideResourceLabelText('MSG_MOBILE_GUIDE_INSTRUCTION3')}}
                        </p>
                    </div>
                </div>
            </div>
        </ion-slide>
        <ion-slide class="favoriteslide" ng-class="{ 'smallScreenFavoriteslide': smallDevice === true, 'largeScreenFavoriteslide': smallDevice === false}">
            <div>
                <div ng-init="loadSlides(slideIndex)" ng-include="slidesPath"></div>
                <!-- using the same button which is used in welcome page -->
                <div>
                    <div class="instructions" ng-class="{ 'smallScreeInstructions': smallDevice === true, 'largeScreenInstructions': smallDevice === false}">
                        <p>
                            {{getGuideResourceLabelText('MSG_MOBILE_FAVGUIDE_INSTRUCTION1')}}
                            {{getGuideResourceLabelText('MSG_MOBILE_FAVGUIDE_INSTRUCTION2')}}
                        </p>
                        <p>
                            {{getGuideResourceLabelText('MSG_MOBILE_FAVGUIDE_INSTRUCTION3')}}
                            {{getGuideResourceLabelText('MSG_MOBILE_FAVGUIDE_INSTRUCTION4')}}
                        </p>
                    </div>
                </div>
            </div>
        </ion-slide>
    </ion-slide-box>
</ion-view>