<div class="item item-body">
    <div ng-repeat="mtAttachment in mt.Attachments">
        <div class="row removePadding listItem imageComments">
            <div class="row removePadding listItem imageComments">
                <div class="col col-10 listItem removePadding rightMargin">
                    <img ng-src="images/imageAdd.png"
                         ng-if="!mtAttachment.FileLocation"
                         class="imageFit darkImg" />
                    <img ng-src="images/gallery.png" ng-model="mtAttachment.FileLocation"
                         ng-if="mtAttachment.FileLocation"
                         class="imageFit darkImg"
                         on-tap="showImage(mtAttachment)" />
                </div>
                <div ng-if="showImageViewer(mtAttachment)" class="col col-90">
                    <div class="item fullWidth actionPlanMargin apwLabel deleteMargin">
                        {{mtAttachment.FileHeader}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>