/* -------------------------- lottie animation------------------------- */
.emptyIcons {
  opacity: 80%;
  width: 110px;
  height: 110px;
  z-index: 11;
}

#questionAnim {
  height: 100px;
  width: 100px;
  background-color: white;
  padding-top: 25px;
  margin-bottom: 50px;
  padding-left: 30%;
}

#uploadAnim {
  width: 100px;
  height: 100px;
  background-color: #fff;
  padding-top: 10px;
  margin-bottom: 20px;
  padding-left: 30%;
}

#favAnim {
  width: 100px;
  height: 100px;
  background-color: #fff;
  padding-top: 20px;
  margin-bottom: 40px;
  padding-left: 30%;
}

#deleteAnim {
  width: 100px;
  height: 100px;
  background-color: #fff;
  padding-top: 20px;
  margin-bottom: 40px;
  padding-left: 30%;
}

#loadAnim {
  width: 100px;
  height: 100px;
  background-color: #fff;
  padding-top: 20px;
  margin-bottom: 40px;
  padding-left: 30%;
}

#loadFailAnim {
  width: 100px;
  height: 100px;
  background-color: #fff;
  padding-top: 25px;
  margin-bottom: 50px;
  padding-left: 30%;
}

/* ---------------- PopUp Styling ------------------- */

.animPopUp .popup {
  border: 0px !important;
  width: 260px !important;
}

.popup {
  border: 0px !important;
  width: 70% !important;
}

.animPopUp .popup-body {
  padding: 0px !important;
  background-color: white;
}

.animPopUp .popup-head {
  padding: 0px !important;
}

.animPopUp .popup-buttons {
  background-color: #e2e2e2 !important;
}

.popUpContentTitle {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  background-color: #e2e2e2 !important;
  padding-top: 15px !important;
}

.popUpContentLabel {
  text-align: center;
  background-color: #e2e2e2 !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  padding-left: 25px !important;
  font-size: 16px !important;
  padding-right: 25px !important;
  min-height: 60px;
}
