.bodySelector {
    align-items: center;
    align-content: center;
    height: 200px;
    padding: 10px !important;
}

.selectorContent {
    text-align: center;
    padding-top: 15px;
    height: 100%;
}

.selectorHeaderAlign {
    white-space: normal !important;
    height: 45px;
}

.selectorIcon {
    font-size: 5em;
}

.bodyPopUp .popup {
    border: 0px !important;
}

.bodyPopUp .popup-body {
    padding: 0px !important;
}

.bodyParts {
    width: 100%;
}

/* ---------------------------------Start - Body Parts List 1------------------------------------- */
/* --------------------------------------Head--------------------------------------------- */
.head {
    position: absolute;
    top: 110px;
    right: 75px;
}
.H0 {
    position: absolute;
    top: 16%;
    right: 42%;
}
    .H0:active {
        background-color: #990000 !important;
        color: #fff;
    }

.H1 {
    position: absolute;
    top: 11%;
    left: 7%;
    right: 4%;
}

.H10 {
    position: absolute;
    top: 28%;
    left: 18%;
}

.H2 {
    position: absolute;
    top: 25%;
    right: 43%;
}

.H5 {
    position: absolute;
    top: 27%;
    right: 33%;
}

.H6 {
    position: absolute;
    top: 33%;
    right: 50%;
}

.H11 {
    position: absolute;
    bottom: 27%;
    left: 6%;
}

.H12 {
    position: absolute;
    bottom: 20%;
    left: 6%;
}


/* ----------------------------------------neck--------------------------------------------------- */
.neck {
    position: absolute;
    top: 145px;
    left: 20px;
}
.N0 {
    position: absolute;
    top: 23%;
    left: 42%;
}
    .N0:active {
        background-color: #990000 !important;
        color: #fff;
    }

.N1 {
    position: absolute;
    top: 14%;
    left: 37%;
}
.N2 {
    position: absolute;
    top: 11%;
    right: 6%;
}


/* -----------------------------------------back--------------------------------------------- */
.back {
    position: absolute;
    top: 500px;
    right: 5px;
}
.R0 {
    position: absolute;
    bottom: 37%;
    right: 4%;
}
    .R0:active {
        background-color: #990000 !important;
        color: #fff;
    }

.R7 {
    position: absolute;
    top: 49%;
    left: 47%;
}
.R8 {
    position: absolute;
    bottom: 17%;
    left: 6%;
}

/* ---------------------------------------------organs----------------------------------------- */
.organs {
    text-align: center;
    position: absolute;
    top: 205px;
    left: 150px;
    right: 120px;
}
.F0 {
    position: absolute;
    top: 44%;
    left: 40%;
}
    .F0:active {
        background-color: #990000 !important;
        color: #fff;
    }

.F11 {
    position: absolute;
    top: 27%;
    right: 28%;
}
.F3 {
    top: 28%;
    position: absolute;
    left: 23%;
}
.F8 {
    position: absolute;
    bottom: 29%;
    left: 40%;
}
.F12 {
    position: absolute;
    bottom: 23%;
    left: 6%;
}
.F13 {
    position: absolute;
    bottom: 17%;
    left: 6%;
}

/* ------------------------------------------arm--------------------------------------------------- */
.arms {
    position: absolute;
    left: 10px;
    top: 200px;
}
.A0 {
    position: absolute;
    left: 22%;
    top: 39%;
}
    .A0:active {
        background-color: #990000 !important;
        color: #fff;
    }

.A6 {
    position: absolute;
    top: 22%;
    left: 45%;
}
.A5 {
    position: absolute;
    top: 41%;
    left: 30%;
}
.A2 {
    position: absolute;
    bottom: 30%;
    right: 57%;
}
.A1 {
    position: absolute;
    bottom: 20%;
    left: 14%;
}
.A3 {
    position: absolute;
    bottom: 35%;
    left: 16%;
}
.A11 {
    width: 40%;
    position: absolute;
    top: 25%;
    left: 6%;
}
.A12 {
    width: 40%;
    position: absolute;
    left: 6%;
    top: 12%;
}


/* -----------------------------------------leg---------------------------------------------- */
.leg {
    position: absolute;
    top: 415px;
    left: 20px;
}
.L0 {
    position: absolute;
    bottom: 17%;
    left: 33%;
}
    .L0:active {
        background-color: #990000 !important;
        color: #fff;
    }

.L9 {
    position: absolute;
    top: 20%;
    left: 52%;
}
.L5 {
    position: absolute;
    top: 42%;
    left: 40%;
}
.L2 {
    position: absolute;
    bottom: 27%;
    left: 34%;
}
.L1 {
    bottom: 19%;
    left: 20%;
    position: absolute;
}
.L13 {
    position: absolute;
    bottom: 19%;
    left: 45%;
}
.L11 {
    position: absolute;
    top: 12%;
    left: 6%;
    width: 45%;
}
.L12 {
    position: absolute;
    top: 25%;
    left: 6%;
    width: 45%;
}
/* -----------------------------------------whole body--------------------------------------------- */
.wholeBody {
    position: absolute;
    top: 65px;
    left: 30px;
}
.C0 {
    position: absolute;
    top: 11%;
    left: 4%;
    right: 2%;
    text-align: center;
}
    .C0:active {
        background-color: #990000 !important;
        color: #fff;
    }
.C1 {
    position: absolute;
    top: 11%;
    left: 17%;
}
.C3 {
    position: absolute;
    top: 38%;
    left: 40%;
    right: 40%;
    text-align: center;
}
.C4 {
    position: absolute;
    bottom: 18%;
    left: 5%;
}
/* ---------------------------------End - Body Parts List 1------------------------------------- */

/* ---------------------------------Start - Body Parts List 2------------------------------------- */
/* ----------------------------------------Head--------------------------------------------------- */
.H0sub {
    position: absolute;
    top: 15%;
    right: 43%;
}

.H1sub {
    position: absolute;
    top: 11%;
    left: 4%;
    right: 4%;
    text-align: center;
}
.H10sub {
    position: absolute;
    top: 32%;
    left: 19%;
}
.H2sub {
    position: absolute;
    top: 25%;
    left: 51%;
}
.H5sub {
    position: absolute;
    top: 28%;
    left: 64%;
}
.H6sub {
    position: absolute;
    top: 33%;
    left: 45%;
}
.H11sub {
    position: absolute;
    bottom: 27%;
    left: 6%;
}
.H12sub {
    position: absolute;
    bottom: 18%;
    left: 6%;
}

/* ----------------------------------------neck--------------------------------------------------- */
.N0sub {
    position: absolute;
    top: 23%;
    left: 42%;
}
.N1sub {
    position: absolute;
    top: 15%;
    left: 33%;
}
.N2sub {
    position: absolute;
    top: 11%;
    right: 6%;
}
/* -----------------------------------------back--------------------------------------------- */
.R0sub {
    position: absolute;
    bottom: 34%;
    right: 15%;
}

.R7sub {
    position: absolute;
    top: 49%;
    left: 49%;
}
.R8sub {
    position: absolute;
    bottom: 17%;
    left: 7%;
}

/* ---------------------------------------------organs----------------------------------------- */
.F0sub {
    position: absolute;
    top: 48%;
    left: 40%;
}

.F11sub {
    position: absolute;
    top: 27%;
    left: 30%;
}
.F3sub {
    position: absolute;
    top: 44%;
    left: 37%;
}
.F8sub {
    position: absolute;
    bottom: 30%;
    left: 30%;
}
.F12sub {
    position: absolute;
    bottom: 22%;
    left: 6%;
}
.F13sub {
    position: absolute;
    bottom: 16%;
    left: 6%;
}

/* ------------------------------------------arm--------------------------------------------------- */
.A0sub {
    position: absolute;
    top: 33%;
    left: 24%;
}

.A5sub {
    position: absolute;
    top: 42%;
    left: 30%;
}
.A6sub {
    position: absolute;
    top: 20%;
    left: 45%;
}
.A2sub {
    position: absolute;
    bottom: 34%;
    left: 16%;
}
.A1sub {
    position: absolute;
    bottom: 24%;
    left: 15%;
}
.A3sub {
    position: absolute;
    bottom: 30%;
    left: 35%;
}
.A11sub {
    width: 42%;
    position: absolute;
    top: 45%;
    right: 4%;
}
.A12sub {
    width: 45%;
    position: absolute;
    bottom: 15%;
    left: 6%;
}

/* -----------------------------------------leg---------------------------------------------- */
.L0sub {
    position: absolute;
    bottom: 34%;
    left: 29%;
}

.L9sub {
    position: absolute;
    top: 20%;
    left: 56%;
}
.L5sub {
    position: absolute;
    top: 42%;
    left: 46%;
}
.L2sub {
    position: absolute;
    bottom: 28%;
    left: 40%;
}
.L1sub {
    position: absolute;
    bottom: 19%;
    left: 20%;
}
.L13sub {
    position: absolute;
    bottom: 20%;
    left: 46%;
}
.L11sub {
    position: absolute;
    top: 13%;
    left: 6%;
    width: 45%;
}
.L12sub {
    position: absolute;
    left: 6%;
    top: 25%;
    width: 45%;
}

/* -----------------------------------------whole body1--------------------------------------------- */
.C0sub {
    position: absolute;
    top: 11%;
    left: 20%;
    right: 20%;
    text-align: center;
}

.C1sub {
    position: absolute;
    top: 11%;
    left: 25%;
    right: 25%;
    text-align: center;
}
.C3sub {
    position: absolute;
    bottom: 16%;
    left: 25%;
    right: 25%;
    text-align: center;
}

/* -----------------------------------------whole body2--------------------------------------------- */
.O0sub {
    position: absolute;
    bottom: 18%;
    left: 6%;
    width: 40%;
}

.O1sub {
    position: absolute;
    top: 11%;
    left: 21%;
}

/* ---------------------------------End - Body Parts List 2------------------------------------- */

.subSelected {
    background-color: #990000 !important;
    color: #fff !important;
    padding: 5px;
    border-radius: 2px;
}

.hideManual {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

/* ------------show selected part in top of popup---------- */
.subItem {
    font-size: 16px;
    text-align: center;
}

/*-----------------popup back button handling css------------------ */
.backSubButton {
    display: none !important;
}

.backSubBut {
    display: block !important;
}

/* -------------------------------------IPad and Tab Head--------------------------------------------------- */
.H0subTab {
    position: absolute;
    top: 12%;
    right: 43%;
}

.H1subTab {
    position: absolute;
    top: 8%;
    left: 6%;
    right: 6%;
    text-align: center;
}

.H10subTab {
    position: absolute;
    top: 32%;
    left: 33%;
}

.H2subTab {
    position: absolute;
    top: 24%;
    left: 36%;
}

.H5subTab {
    position: absolute;
    top: 24%;
    right: 35%;
}

.H6subTab {
    position: absolute;
    top: 33%;
    left: 45%;
}

.H11subTab {
    position: absolute;
    bottom: 16%;
    left: 4%;
}

.H12subTab {
    position: absolute;
    bottom: 11%;
    left: 4%;
}

/* -------------------------------------IPad and Tab neck--------------------------------------------------- */
.N0subTab {
    position: absolute;
    top: 23%;
    left: 44%;
}

.N1subTab {
    position: absolute;
    top: 12%;
    left: 38%;
}

.N2subTab {
    position: absolute;
    top: 8%;
    left: 4%;
}
/* --------------------------------------IPad and Tab back--------------------------------------------- */
.R0subTab {
    position: absolute;
    top: 60%;
    right: 20%;
}

.R7subTab {
    position: absolute;
    top: 45%;
    left: 40%;
}

.R8subTab {
    position: absolute;
    bottom: 10%;
    left: 4%;
}

/* ------------------------------------------IPad and Tab organs----------------------------------------- */
.F0subTab {
    position: absolute;
    top: 44%;
    left: 48%;
}

.F11subTab {
    position: absolute;
    top: 26%;
    left: 28%;
}

.F3subTab {
    position: absolute;
    top: 43%;
    left: 33%;
}

.F8subTab {
    position: absolute;
    bottom: 32%;
    left: 24%;
}

.F12subTab {
    position: absolute;
    bottom: 24%;
    left: 4%;
}

.F13subTab {
    position: absolute;
    bottom: 17%;
    left: 4%;
}

/* ---------------------------------------IPad and Tab arm--------------------------------------------------- */
.A0subTab {
    position: absolute;
    top: 30%;
    left: 17%;
}

.A5subTab {
    position: absolute;
    top: 42%;
    left: 34%;
}

.A6subTab {
    position: absolute;
    top: 19%;
    left: 53%;
}

.A2subTab {
    position: absolute;
    bottom: 34%;
    left: 14%;
}

.A1subTab {
    position: absolute;
    bottom: 17%;
    left: 16%;
}

.A3subTab {
    position: absolute;
    bottom: 26%;
    left: 37%;
}

.A11subTab {
    width: 23%;
    position: absolute;
    top: 45%;
    right: 20%;
}

.A12subTab {
    width: 20%;
    position: absolute;
    bottom: 10%;
    left: 5%;
}

/* -----------------------------------------Ipad and Tab Leg------------------------------------------------ */

.L0subTab {
    position: absolute;
    bottom: 32%;
    left: 25%;
}

.L9subTab {
    position: absolute;
    top: 13%;
    left: 52%;
}

.L5subTab {
    position: absolute;
    top: 40%;
    left: 41%;
}

.L2subTab {
    position: absolute;
    bottom: 27%;
    left: 38%;
}

.L1subTab {
    position: absolute;
    bottom: 17%;
    left: 46%;
}

.L13subTab {
    position: absolute;
    bottom: 17%;
    left: 26%;
}

.L11subTab {
    position: absolute;
    top: 14%;
    left: 4%;
}

.L12subTab {
    position: absolute;
    top: 24%;
    left: 4%;
}

/* ---------------------------------------IPad and Tab whole body1--------------------------------------------- */
.C0subTab {
    position: absolute;
    top: 8%;
    left: 30%;
}

.C1subTab {
    position: absolute;
    top: 8%;
    left: 30%;
}

.C3subTab {
    position: absolute;
    bottom: 11%;
    left: 10%;
    right: 10%;
    text-align: center;
}

/* ---------------------------------------IPad and Tab whole body2--------------------------------------------- */
.O0subTab {
    position: absolute;
    bottom: 11%;
    left: 4%;
}

.O1subTab {
    position: absolute;
    top: 8%;
    left: 10%;
    right: 10%;
    text-align: center;
}
/* ------------------------------------------------------------------------------------------------------------------------- */
.circleSpot {
    background-color: lightcoral !important;
    border: 1px transparent !important;
    border-radius: 75px !important;
    height: 30px !important;
    width: 30px !important;
    opacity: 0.3;
}

.higlightCircle {
    background-color: red !important;
}
/* ---------------------------------------------- Body Parts Tablet ----------------------------------------------------- */
.H0tab {
    position: absolute;
    top: 12%;
    right: 43%;
}

    .H0tab:active {
        background-color: #990000 !important;
        color: #fff;
    }

.H1tab {
    position: absolute;
    top: 7%;
    left: 10%;
}

.H10tab {
    position: absolute;
    top: 27%;
    left: 25%;
}

.H2tab {
    position: absolute;
    top: 25%;
    right: 45%;
}

.H5tab {
    position: absolute;
    top: 28%;
    right: 36%;
}

.H6tab {
    position: absolute;
    top: 32%;
    right: 51%;
}

.H11tab {
    position: absolute;
    bottom: 24%;
    left: 4%;
}

.H12tab {
    position: absolute;
    bottom: 17%;
    left: 4%;
}

/* ----------------------------------------neck--------------------------------------------------- */
.N0tab {
    position: absolute;
    top: 22%;
    left: 43%;
}

    .N0tab:active {
        background-color: #990000 !important;
        color: #fff;
    }

.N1tab {
    position: absolute;
    top: 12%;
    left: 37%;
}

.N2tab {
    position: absolute;
    top: 9%;
    right: 10%;
}

/* -----------------------------------------back--------------------------------------------- */
.R0tab {
    position: absolute;
    bottom: 35%;
    right: 10%;
}

    .R0tab:active {
        background-color: #990000 !important;
        color: #fff;
    }

.R7tab {
    position: absolute;
    top: 45%;
    left: 45%;
}

.R8tab {
    position: absolute;
    bottom: 17%;
    left: 4%;
}

/* ---------------------------------------------organs----------------------------------------- */
.F0tab {
    position: absolute;
    top: 40%;
    left: 45%;
}

    .F0tab:active {
        background-color: #990000 !important;
        color: #fff;
    }

.F11tab {
    position: absolute;
    top: 30%;
    right: 24%;
}

.F3tab {
    position: absolute;
    top: 30%;
    left: 23%;
}

.F8tab {
    position: absolute;
    bottom: 25%;
    right: 50%;
}

.F12tab {
    position: absolute;
    bottom: 22%;
    left: 4%;
}

.F13tab {
    position: absolute;
    bottom: 17%;
    left: 4%;
}

/* ------------------------------------------arm--------------------------------------------------- */
.A0tab {
    position: absolute;
    left: 23%;
    top: 39%;
}

    .A0tab:active {
        background-color: #990000 !important;
        color: #fff;
    }

.A6tab {
    position: absolute;
    top: 19%;
    left: 53%;
}

.A5tab {
    position: absolute;
    top: 43%;
    left: 31%;
}

.A2tab {
    position: absolute;
    bottom: 31%;
    right: 65%;
}

.A1tab {
    position: absolute;
    bottom: 22%;
    left: 17%;
}

.A3tab {
    position: absolute;
    bottom: 35%;
    right: 75%;
}

.A11tab {
    width: 22%;
    position: absolute;
    top: 22%;
    left: 4%;
}

.A12tab {
    width: 22%;
    position: absolute;
    left: 4%;
    top: 10%;
}

/* -----------------------------------------leg---------------------------------------------- */
.L0tab {
    position: absolute;
    bottom: 10%;
    left: 32%;
}

    .L0tab:active {
        background-color: #990000 !important;
        color: #fff;
    }

.L9tab {
    position: absolute;
    top: 20%;
    left: 55%;
}

.L5tab {
    position: absolute;
    top: 42%;
    left: 48%;
}

.L2tab {
    position: absolute;
    bottom: 24%;
    left: 38%;
}

.L1tab {
    position: absolute;
    bottom: 14%;
    left: 27%;
}

.L13tab {
    position: absolute;
    bottom: 17%;
    right: 49%;

}

.L11tab {
    position: absolute;
    top: 15%;
    left: 4%;
}

.L12tab {
    position: absolute;
    top: 25%;
    left: 4%;
}

/* -----------------------------------------whole body--------------------------------------------- */
.C0tab {
    position: absolute;
    top: 8%;
    left: 30%;
}

    .C0tab:active {
        background-color: #990000 !important;
        color: #fff;
    }

.C1tab {
    position: absolute;
    top: 8%;
    left: 35%;
}

.C3tab {
    position: absolute;
    top: 41%;
    left: 25%;
    right: 25%;
    text-align: center;
}

.C4tab {
    position: absolute;
    bottom: 16%;
    left: 4%;
}
