<ion-item callback="setAkDate" class="pickerDark picker">
    <label name="datePickerAk_{{::akStep.Id}}_{{::akColumn.FileColumnId}}"
           class="button button-block buttonValue button-outline fontButtonIcon icon-left {{::getIconValue('Calender')}}"
           ng-class="{ 'has-errors' : formAskade.datePickerAk_{{::akStep.Id}}_{{::akColumn.FileColumnId}}.$invalid && {{::akColumn.IsMandatory}} == true,
                         'no-errors' : formAskade.datePickerAk_{{::akStep.Id}}_{{::akColumn.FileColumnId}}.$valid && {{::akColumn.IsMandatory}} == true }"
           ng-required="checkRequired(akColumn, personAkStepColumnAnswer)"
          ng-click="showDate(akColumn, personAkStepColumnAnswer)"
          ng-model="personApwStepAnswerColumn.AnswerDate"
           ng-disabled="isDatePickDisabled">
        {{ personAkStepColumnAnswer.AnswerDate| date:'dd-MM-yyyy' }}
    </label>
</ion-item>