<timepicker ng-model="personAkStepColumnAnswer.AnswerText" ng-required="{{::akColumn.IsMandatory}}"
               style="border: 2px solid #eaeaea; display: block;"
               ng-class="{ 'has-errors' : formAskade.timePickerAk_{{::akStep.Id}}_{{::akColumn.FileColumnId}}.$invalid && {{::akColumn.IsMandatory}} == true,
               'no-errors' : formAskade.timePickerAk_{{::akStep.Id}}_{{::akColumn.FileColumnId}}.$valid && {{::akColumn.IsMandatory}} == true }"
               name="timePickerAk_{{::akStep.Id}}_{{::akColumn.FileColumnId}}">
</timepicker>