<div class="actionPlanMargin" ng-class="{ 'has-errors' : formAskade.longTextAk_{{::akStep.Id}}_{{::akColumn.FileColumnId}}.$invalid
       && {{::akColumn.IsMandatory}} == true, 'no-errors' :
       formAskade.longTextAk_{{::akStep.Id}}_{{::akColumn.FileColumnId}}.$valid
       && {{::akColumn.IsMandatory}} == true}">
    <label class="item item-input formInputLongText formInputLong item-input"
           ng-class="{'formRequired' : {{::akColumn.IsMandatory}} == true, 'formNotRequired' : {{::akColumn.IsMandatory}} == false}">
        <textarea ng-model="personAkStepColumnAnswer.AnswerText" sanitizescript
                  name="longTextAk_{{::akStep.Id}}_{{::akColumn.FileColumnId}}"
                  ng-auto-expand ng-change="textDependencyTrigger()" ng-model-options="{allowInvalid: true}"
                  ng-required="{{::akColumn.IsMandatory}}">
        </textarea>
        <a class="button micQueComment button-icon icon ion-android-microphone placeholder-icon" ng-if="readAloud && androidVersion"
           on-touch="startListening(personAkStepColumnAnswer, 'LongText')"></a>
    </label>
</div>