<ion-scroll
  direction="y"
  class="available-scroller"
  style="height:{{getItemHeightForWindow()}};"
>
  <div overflow-scroll="true" class="removeTop">
    <ion-checkbox
      ng-repeat="item in dataSource"
      class="answerOption_{{::item.Id}} alignSmileyWithAO showCompleteAnswerOptionCheckBox"
      ng-click="window.focus(); setCheckBoxVal(item.Id, checkStatus);"
      on-tap="CommentRequiredCheckBox(item, checkStatus)"
      ng-init="checkStatus=getDefaultStatus(item.Id)"
      ng-model="checkStatus"
    >
      {{item.Text}}
      <div ng-if="item.ImageFile !== null" ng-bind-html="item.ImageFile"></div>
    </ion-checkbox>
  </div>
</ion-scroll>
