<div class="zeroHeight">
    <div>
        <table id="title-table">
            <thead>
                <tr>
                    <td>{{::getResourceText('LIT_TITLE')}}</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{personActionPlanWizard.Title}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-repeat="wizStep in wizard.WizardSteps">
        <div ng-if="!wizStep.IsMultiTaskColumnsPresent"
             ng-init="personApwStepAnswer = getPersonApwStepAnswer(wizStep.Id, null, personActionPlanWizard)">
            <table id="step-table_{{wizStep.Id}}">
                <thead>
                    <tr>
                        <td>{{wizStep.Title}}</td>
                    </tr>
                </thead>
                <tbody ng-if="wizStep.IsContentAssociation && wizStep.ColumnGuides.length === 0">
                    <tr>
                        <td>{{personApwStepAnswer.AnswerText}}</td>
                    </tr>
                </tbody>
                <tbody ng-if="wizStep.IsContentAssociation && wizStep.ColumnGuides.length !== 0">
                    <tr ng-repeat="guide in wizStep.ColumnGuides"
                        ng-init="personGuide = getColumnGuideEntity(guide.Id, wizStep.Id, null, personActionPlanWizard)">
                        <td>{{guide.Text}}: {{personGuide.AnswerText}}</td>
                    </tr>
                </tbody>
            </table>
            <div>
                <table id="column-table_{{wizStep.Id}}">
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr ng-repeat="wizColumn in wizStep.Columns"
                            ng-init="personApwStepAnswerColumn = getPersonApwStepAnswer(wizStep.Id, wizColumn.Id, personActionPlanWizard)">
                            <td>{{wizColumn.TranslatedText}}</td>
                            <td>
                                <table ng-include="loadApwPdfTemplate(wizColumn.ColumnType)"></table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div ng-if="wizStep.IsMultiTaskColumnsPresent" ng-repeat="mt in multiTaskSol">
            <table id="step-table_{{wizStep.Id}}_{{mt.Id}}">
                <thead>
                    <tr>
                        <td>{{wizStep.Title}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{wizStep.Title}} - {{getResourceText('LIT_SOLUTION')}} - {{$index + 1}}</td>
                    </tr>
                </tbody>
            </table>
            <div>
                <table id="column-table_{{wizStep.Id}}_{{mt.Id}}">
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr ng-repeat="wizColumn in wizStep.Columns">
                            <td ng-if="!wizColumn.IsMultiTaskColumn"
                                ng-init="personApwStepAnswerColumn = getPersonApwStepAnswer(wizStep.Id, wizColumn.Id, personActionPlanWizard)">
                                {{wizColumn.TranslatedText}}
                            </td>
                            <td ng-if="!wizColumn.IsMultiTaskColumn"
                                ng-init="personApwStepAnswerColumn = getPersonApwStepAnswer(wizStep.Id, wizColumn.Id, personActionPlanWizard)">
                                <table ng-include="loadApwPdfTemplate(wizColumn.ColumnType)"></table>
                            </td>
                            <td ng-if="wizColumn.Text !== 'MultiTaskSolutionFilesAndLinks' && wizColumn.IsMultiTaskColumn">
                                {{wizColumn.TranslatedText}}
                            </td>
                            <td ng-if="wizColumn.Text !== 'MultiTaskSolutionFilesAndLinks' && wizColumn.IsMultiTaskColumn">
                                <table ng-include="loadMultiTaskPdfTemplate(wizColumn)"></table>
                            </td>
                            <!--<td ng-if="wizColumn.Text === 'MultiTaskSolutionFilesAndLinks'"
                                ng-repeat="mtAttach in mt.Attachments">
                                <table id="attachment-mt-table_{{mt.Id}}">
                                    <tbody>
                                        <tr>
                                            <td>{{mtAttach.FileHeader}}</td>
                                        </tr>
                                        <tr ng-repeat="pAttachment in personActionPlanWizard.Attachments">
                                            <td>
                                                {{pAttachment.FileName != null ? pAttachment.FileName : '-'}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>-->
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <table id="attachment-mt-table_{{mt.Id}}">
                    <tbody>
                        <tr>
                            <td>{{::getResourceText('LIT_MULTITASK_ATTACHMENTS')}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div>
        <table id="attachment-table">
            <tbody>
                <tr>
                    <td>{{getResourceText('LIT_ATTACHMENTS')}}</td>
                </tr>
                <!--<tr ng-repeat="pAttachment in personActionPlanWizard.Attachments">
                    <td>
                        {{pAttachment.FileName != null ? pAttachment.FileName : '-'}}
                    </td>
                </tr>-->
            </tbody>
        </table>
    </div>
</div>