<li ng-repeat="child in Children" class="documentParent">
    <details class="documentParentName" ng-open="isOpen(child)" >
        <summary ng-style="{'color': '{{modColor}}'}" on-tap="expandClose(child)">{{child.Name}}</summary>
        <ul>
            <li class="docText docVisited"
                ng-if="child.docList != null && child.docList.length > 0"
                ng-repeat="doc in child.docList"
                on-tap="documentTreeAction(doc)"
                on-hold="selectFavoritesOnHold(doc)">
                <a class="icon {{doc.ListIcon}}"
                   ng-style="{ 'color': '{{modColor}}' }"></a>
                <span>{{doc.Text}}</span>
            </li>
            <div ng-if="child.Children != null && child.Children.length > 0"
                 class="docText">
                <div ng-include="loadChildren(child.Children)"></div>
            </div>
        </ul>
    </details>
</li>
