<div class="zeroHeight">
    <div ng-if="validateStep(akStep) === true" ng-repeat="akStep in akWizard.Steps">
        <table id="step-table_ak_{{akStep.Id}}">
            <thead>
                <tr>
                    <td>{{getStepName(akStep.Name)}}</td>
                </tr>
            </thead>
        </table>
        <div>
            <table id="column-table_ak_{{akStep.Id}}">
                <tbody ng-repeat="akColumn in akStep.Columns"
                        ng-init="personAkStepColumnAnswer = getPersonAkStepColoumnAnswer(akColumn.FileColumnId, personAskadeWizard)">
                    <tr ng-if="$index === 0 && akColumn.ColumnGuides.length !== 0">
                        <td>{{akColumn.Text}}</td>
                        <td></td>
                    </tr>
                    <tr ng-if="akColumn.ColumnGuides.length === 0 && akColumn.IsDependencyMet===true">
                        <td ng-if="akColumn.ColumnType !== 'Signature'">{{akColumn.Text}}</td>
                        <td ng-if="akColumn.ColumnType === 'Signature'">{{akColumn.ColumnType}}</td>
                        <td>
                            <table ng-include="loadAskadePdfTemplate(akColumn.ColumnType)"></table>
                        </td>
                    </tr>
                    <tr ng-if="akColumn.ColumnGuides.length !== 0 && akColumn.IsDependencyMet === true"
                        ng-repeat="guide in akColumn.ColumnGuides"
                        ng-init="personGuide = getColumnGuideEntity(guide.Id, akColumn.FileColumnId, personAskadeWizard)">
                        <td>{{guide.Text}}</td>
                        <td>{{personGuide.AnswerText}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <table id="attachment-table_ak">
            <tbody ng-init="details = getAttachmentDetails(personAskadeWizard)">
                <tr>
                    <td>{{getResourceText('LIT_ATTACHMENTS')}}</td>
                </tr>
                <tr ng-if="details.isPdf">
                    <td>
                        {{details.FileName}}
                    </td>
                </tr>
                <!--<tr ng-repeat="pAttachment in personAskadeWizard.Attachments">
        <td>
            {{attachmentDetails.FileName}}
            {{pAttachment.FileName != null ? pAttachment.FileName : '-'}}
        </td>
    </tr>-->
            </tbody>
        </table>
    </div>
</div>