<ion-content overflow-scroll="true" class="has-subheader">
    <ion-list ng-repeat="q in questionnaireList">
        <label class="item item-divider">
            {{::q.Name}}
        </label>
        <ion-item ng-repeat="answer in q.Answers"
                  class="row">
            <div class="col col-90"
                 on-tap="navigateAnswering(answer.PersonQuestionnaire.Id)">
                <h2>{{::answer.Label}}</h2>
                <p>{{::answer.TimeStamp}}</p>
            </div>
            <div class="col-10">
                <a class="button uploadFail button-icon icon {{::getIconValue('DeleteAnswer')}}"
                   on-touch="deletePersonQuestionnaireByPqId(answer.PersonQuestionnaire)">
                </a>
            </div>
        </ion-item>
    </ion-list>
</ion-content>