<div class="list card" ng-init="personApwStepAnswerColumn = getPersonApwStepAnswer(wizStep.Id, wizColumn.Id)">
    <div class="item cardColor showFullText">
        <div ng-if="readAloud" ng-class="{ 'textSpeechAlign': readAloud}">
            <div class="icon displayInlineBlock helpLinkIcon">
                <img ng-src="images/speaker.png" class="darkImg" ng-click="ttsConvert(wizColumn.TranslatedText, $event)" />
            </div>
        </div>
        <div ng-bind-html="wizColumn.TranslatedText" ng-class="{'txtSpchAlignColumn': readAloud }"></div>
    </div>
    <div ng-include="loadApwTemplate(wizColumn.ColumnType)">
    </div>
</div>