<ion-checkbox ng-repeat="vao in vq.ValuationAnswerOption" class="answerOption_{{::vq.Id}}_{{::vao.Id}} alignSmileyWithAO showCompleteAnswerOptionCheckBox"
              id="cb_{{::qg.Id}}_{{::q.Id}}_{{::vq.Id}}_{{::vao.Id}}"
              name="cb_{{::qg.Id}}_{{::q.Id}}_{{::vq.Id}}" ng-change="window.focus();setPVQAnswerOptionSelected(q.Id,vq.Id,vao.Id,checkStatus)"
              ng-init='checkStatus=getVQDefaultStatus(q.Id,vq.Id,vao.Id)'
              ng-model="checkStatus"
              ng-disabled="true">
    {{::vao.Text}}<div ng-if="vao.ImageFile !== null" ng-bind-html="vao.ImageFile"></div>
</ion-checkbox>
<span ui-view></span>