<ion-view view-title="{{::title}}">
    <div class="tabs-striped customStyleTab tabs-icon-top tabs-top">
        <div class="tabs"
             ng-style="{ 'background-color' : '{{tabBgColor}}'}">
            <a class="tab-item full-width-tab" id="checkForNew" ui-sref-active="active" ui-sref="app.apwTabs.active"
               ng-style="{ 'border-bottom': '2px solid {{tabBgColor}}' }" ng-if="!applicationDetails.IsApplicationModuleDisable">
                <i class="icon"
                   ng-class="{ '{{getIconValue('NewOutline')}}': checkClassExists('checkForNew') === false, '{{getIconValue('New')}}': checkClassExists('checkForNew') === true }"></i>
                {{::getResourceText('LIT_NEW')}}
            </a>
            <a class="tab-item full-width-tab" id="checkForInprogress" ui-sref-active="active" ui-sref="app.apwTabs.inProgress"
               ng-style="{ 'border-bottom': '2px solid {{tabBgColor}}' }">
                <i class="icon"
                   ng-class="{ '{{getIconValue('InprogressOutline')}}': checkClassExists('checkForInprogress') === false, '{{getIconValue('InProgress')}}': checkClassExists('checkForInprogress') === true }"></i>
                {{::getResourceText('LIT_INPROGRESS')}}
            </a>
            <a class="tab-item full-width-tab" id="checkForCompleted" ui-sref-active="active" ui-sref="app.apwTabs.completed"
               ng-style="{ 'border-bottom': '2px solid {{tabBgColor}}' }">
                <i class="icon"
                   ng-class="{ '{{getIconValue('CompletedOutline')}}': checkClassExists('checkForCompleted') === false, '{{getIconValue('Completed')}}': checkClassExists('checkForCompleted') === true }"></i>
                {{::getResourceText('LIT_COMPLETED')}}
            </a>
        </div>
    </div>
    <div ui-view="active-tab" ng-if="!applicationDetails.IsApplicationModuleDisable"></div>
    <div ui-view="inProgress-tab"></div>
    <div ui-view="completed-tab"></div>
</ion-view>
