<ion-content class="has-subheader" ng-class="{ 'has-footer' :  selectedCount !== 0}">
    <ion-list can-swipe="true" ng-repeat="apw in apwList">
        <label class="item item-divider">
            {{::apw.WizName}}
        </label>
        <ion-item ng-repeat="answer in apw.Answers"
                  ng-init="isSelected = false"
                  ng-class="{ active: isSelected }"
                  class="item item-text-wrap">
            <div on-hold="onMultiSelectForUpload(answer.PersonApwAnswer, this)"
                 on-tap="onSelectForUpload(answer.PersonApwAnswer, this)">
                <h2>{{::answer.Label}}</h2>
                <p>{{::answer.TimeStamp}}</p>
            </div>
            <div>
                <a class="button uploadFail button-icon icon {{::getIconValue('DeleteAnswer')}} subdued"
                   on-touch="deletePersonApwByPApwId(answer.PersonApwAnswer)"
                   ng-disabled="answer.PersonApwAnswer.UploadInProgress || isSelected">
                </a>
                <a class="button button-icon icon iconColor {{::getIconValue('InprogressOutline')}} subdued"
                   on-touch="editCompletedAnswer(answer.PersonApwAnswer)"
                   ng-disabled="answer.PersonApwAnswer.UploadInProgress  || isSelected">
                </a>
                <a class="button button-icon icon iconColor {{::getIconValue('CompletedOutline')}} subdued"
                   ng-if="!(customerSetting.IsDemoCustomer || userDetailsData.IsDemoUser)"
                   on-touch="uploadApwAnswering(answer.PersonApwAnswer.Id)"
                   ng-disabled="answer.PersonApwAnswer.UploadInProgress  || isSelected"
                   ng-class="{ 'uploadInProgress': answer.PersonApwAnswer.UploadInProgress,
                                'uploadFail': answer.PersonApwAnswer.UploadFail}">
                </a>
                <a ng-if="answer.PersonApwAnswer.Wizard.EnableEmail" class="button button-icon icon {{::getIconValue('Email')}} subdued"
                   pdf-template is-pdf-email="{{true}}"
                   on-touch="genPdf(answer.PersonApwAnswer, 'ActionPlan')"
                   ng-disabled="answer.PersonApwAnswer.UploadInProgress  || isSelected">
                    <div id="actionPlanPdf_{{answer.PersonApwAnswer.Id}}" class="pdfHideCss" ng-include="actionPlanPdf"></div>
                </a>
                <a pdf-template is-pdf-email="{{false}}">
                   <img ng-src="{{answer.PersonApwAnswer.UploadInProgress || isSelected === true ? 'images/pdffaded.png' : 'images/pdf.png' }}"
                        ng-if="answer.PersonApwAnswer.Wizard.EnablePrint" class="pdfImage subdued"
                   on-touch="answer.PersonApwAnswer.UploadInProgress || isSelected || genPdf(answer.PersonApwAnswer, 'ActionPlan')"
                   ng-disabled="answer.PersonApwAnswer.UploadInProgress || isSelected" />
                    <div id="actionPlanPdf_{{answer.PersonApwAnswer.Id}}" class="pdfHideCss" ng-include="actionPlanPdf"></div>
                </a>
            </div>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer-bar align-title="left" class="bar-stable item-icon-right" ng-if="selectedCount !== 0 && !customerSetting.IsDemoCustomer">
    <h1 class="title">{{selectedCount}}</h1>
    <div class="icon">
        <a class="button button-icon {{::getIconValue('Completed')}}"
           on-touch="uploadMutipleQuestionnaire()"></a>
    </div>
</ion-footer-bar>
