<ion-content overflow-scroll="true" class="mainSurveyContent">
    <div class="surveyEmptyCenterAlign" ng-if="SurveyList.length === 0">
        <lottie-player src="raw/emptySearch.json" background="transparent" speed="1" class="emptyIcons" loop autoplay>
        </lottie-player>
        <div>
            <img src="images/checklist.png" style="height: 25px" />
            <h3>{{getResourceText('MSG_MOBILE_NO_ACTIVE_SURVEY')}}</h3>
        </div>
    </div>
    <ion-list>
        <a class="item" ng-repeat="que in SurveyList" on-tap="navigateAnswering(que)">
            <div class="row removePadding listItem">
                <div class="col-10 listImage" ng-bind-html="que.QuestionImageFileBase64" ng-if="que.QuestionImageFileBase64 != null"></div>
                <div ng-class="{ 'col col-90' : que.QuestionImageFileBase64 !== null, 'col' : que.QuestionImageFileBase64 === null }">
                    <h2 class="showFullText">{{::que.Name}}</h2>
                    <p ng-bind-html="que.Description"></p>
                </div>
            </div>
        </a>
    </ion-list>
</ion-content>