<ion-view view-title="{{::title}}">
    <div class="survey-tab">
        <ion-content>
            <question-template templateUrl="templates/survey/controls/datePicker.html"></question-template>
        </ion-content>
        <div class="tabs">
            <a class="tab-item full-width-tab surveyTabColor" id="checkForNew" ui-sref-active="active" ui-sref="app.surveyTabs.active">
                <img src="images/checklist.png" style="height: 25px" />
                {{getResourceText('LIT_MOBILE_CURRENT_SURVEY')}}
            </a>
            <a class="tab-item full-width-tab surveyTabColor" id="checkForInprogress" ui-sref-active="active" ui-sref="app.surveyTabs.history">
                <img src="images/clock.png" style="height: 25px" />
                {{getResourceText('LIT_MOBILE_HISTORY')}}
            </a>
        </div>
    </div>
    <div ui-view="active-tab"></div>
    <div ui-view="history-tab"></div>
</ion-view>
