<ion-content overflow-scroll="true" class="mainSurveyContent">
    <div class="surveyEmptyCenterAlign" ng-if="SurveyList.length === 0">
        <lottie-player src="raw/emptySearch.json" background="transparent" speed="1" class="emptyIcons" loop autoplay>
        </lottie-player>
        <div>
            <img src="images/checklist.png" style="height: 25px" />
            <h3>{{getResourceText('MSG_MOBILE_NO_ANSWERED_SURVEY')}}</h3>
        </div>
    </div>
    <ion-list ng-repeat="que in SurveyList">
        <label class="item item-divider">
            {{::que.Name}}
        </label>
        <ion-item ng-repeat="answer in que.Answers"
                  ng-init="isSelected = false"
                  ng-class="{ active: isSelected }"
                  class="item item-text-wrap" pdf-template is-pdf-email="{{false}}" on-touch="answer.PersonQuestionnaire.UploadInProgress || isSelected || genPdf(answer.PersonQuestionnaire, 'Questionnaire')"
                   ng-disabled="answer.PersonQuestionnaire.UploadInProgress || isSelected">
            <div>
                <div>
                    <h2>{{::answer.Label}}</h2>
                    <span class="alignDates">
                        <p>{{::answer.InitiatedDate}}</p>
                        <p>{{::answer.SurveyCompletedDate}}</p>
                    </span>
                </div>
                <div id="questionnairePdf_{{answer.PersonQuestionnaire.Id}}" class="pdfHideCss" ng-include="questionnairePdf"></div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>