<div ng-repeat="qg in validQuestionnaireGroups">
    <table id="basic-table_{{qg.Id}}">
        <tbody>
            <tr>
                <td>{{qg.Name}}</td>
                <td></td>
            </tr>
            <tr ng-repeat="q in qg.Questions"
                ng-init="pqaView = getPersonQuestionAnswer(q.Id)">
                <td>{{q.Text}}</td>
                <td>
                    <table ng-include="loadPdfAOTemplate(q.TypeCode)"></table>
                    <!--<table ng-if="questionnaire.ValuationQuestion.length !== 0">
                        <tbody ng-if="!q.IgnoreValuationQuestion">
                            <tr ng-repeat="vq in questionnaire.ValuationQuestion">
                                <td>{{vq.Text}}</td>
                                <td>
                                    <table ng-include="loadPdfVAOTemplate(vq.TypeCode)">
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>-->
                </td>
            </tr>
            <!--<tr>
                <td>_VAL_QUESTION_NAME_</td>
                <td>_VAL_QUESTION_ANSWER_</td>
            </tr>-->
        </tbody>
    </table>
</div>
