<div on-swipe="closeKeyBoard()">
    <div class="padding" ng-if="showParentValueHeader">
        <div class="subItem">{{selectedItemValue}}</div>
    </div>
    <div class="row">
        <div class="item-text-wrap"
             ng-style="{{disableTagButton(selectedText)}}"
             ng-class="{ 'col col-60 ': enableOnline === true, 'displayInGrid': enableOnline === false }">
            <div class="singleLineText" on-touch="showFullValue()">
                <b>{{selectedText}}</b>
            </div>
        </div>
        <div ng-if="enableOnline" class="col col-40">
            <button class="button icon-left button-small onlineToggleBtn"
                    ng-class="{ 'buttonColor': isOnlineSearch === true, 'buttonOfflineColor': isOnlineSearch === false}"
                    on-tap="updateIsOnlineSearch(isOnlineSearch)">
                {{isOnlineSearch === true ? onlineVal : offlineVal}}
            </button>
        </div>
    </div>
    <div class="item item-input searchInDropDown" ng-if="!isSearchDisabled">
        <i class="icon icon-left {{searchIcon}} placeholder-icon"></i>
        <input class="searchTextVal"
               type="text"
               ng-model="searchModel[dataTextField]"
               ng-change="callWebApi(searchModel)"
               placeholder="{{searchText}}"
               ng-model-options="{allowInvalid: true}" />
        <a class="button button-icon icon {{closeIcon}} placeholder-icon"
           ng-style="{ 'color': '#B83E2C' }"
           on-touch="clearSearch()"></a>
        <a class="button button-icon icon {{qrScannerIcon}} placeholder-icon"
           ng-if="isQRCodeReaderEnabled"
           on-tap="openScanner()"></a>
    </div>
    <br />
    <div class="item addItem" ng-if="isAddVisible" on-tap="AddItem()">{{AddText}}</div>
    <div class="listPopUpHeight" ng-include="getPlatformSpecificTemplate()"></div>
</div>
<div class="scannerButtons"
     ng-class="{ 'scannerButtonsForSmallScreen' : isSmallScreenDevice === true }">
    <a scanneroptions class="icon {{scannerCloseIcon}} cancleScan"></a>
    <a scanneroptions class="icon {{flipCameraIcon}} flipCam"></a>
    <a scanneroptions class="icon {{flashCameraIcon}} flashCam"></a>
</div>
