<ion-radio ng-repeat="ao in q.AnswerOptions"
           id="rb_{{qg.Id}}_{{q.Id}}_{{ao.Id}}" class="answerOptionRadio_{{ao.Id}} alignSmileyWithAO showCompleteAnswerOptionRadio answerOptionColouring"
           name="rb_{{qg.Id}}_{{q.Id}}"
           ng-change="setAnswerOptionSelectedRadio(ao.Id, q)"
           ng-value="ao.Id"
           ng-model="getPersonQuestionAnswer(q.Id).AnswerId"
           ng-disabled="true"
           ng-style="{ 'color': getColor(questionnaire,q.Id,ao,questionnaire.AnswerOptionFontColour), 'background-color': getBackColor(questionnaire,q.Id,ao) }">
    {{ao.Text}}<div ng-if="ao.ImageFile !== null" ng-bind-html="ao.ImageFile"></div>
</ion-radio>
