<body-popup title="{{akColumn.Text}}"
            ng-init="dispText = getDropDownText(akColumn,personAkStepColumnAnswer, moduleName); code = getDropDownTextCode(akColumn.ColumnType, akColumn.DataTypeId, personAkStepColumnAnswer.AnswerId, moduleName);"
            display-text="{{dispText}}"
            class="item actionPlanMargin button button-block icon-right {{::getIconValue('DropDown')}} alignSelectTag"
            ng-model="personAkStepColumnAnswer.AnswerText" assign-id-text="true"
            name="dropDownAk_{{::akStep.Id}}_{{::akColumn.FileColumnId}}" style="border:2px solid #EAEAEA;"
            ng-class="{ 'has-errors' : formAskade.dropDownAk_{{::akStep.Id}}_{{::akColumn.FileColumnId}}.$invalid && {{::akColumn.IsMandatory}} === true,
                         'no-errors' : formAskade.dropDownAk_{{::akStep.Id}}_{{::akColumn.FileColumnId}}.$valid && {{::akColumn.IsMandatory}} === true }" ng-required="{{::akColumn.IsMandatory}}">
    <body-selector ng-style="{'display': 'block'}">
    </body-selector>
    <visual-selector ng-style="{'display': 'none'}"></visual-selector>
    <lazy-body-dropdown class="lazyDropDownPositionFix" ng-init="columnsListSource = getDropDownSourceByText(akColumn.ColumnType, akColumn.DataTypeId, akColumn.ColumnSubType); pqbAskade = personAkStepColumnAnswer;columnType = akColumn.ColumnType; dropDownTypeVal = akColumn.DataTypeId; isOnline = isOnlineDropDownEnable(akColumn.ColumnType, akColumn.DataTypeId); typeVal = akWizard.ModuleName(); columnSubType = akColumn.ColumnSubType === personAkStepColumnAnswer.ColumnSubType ? akColumn.ColumnSubType : personAkStepColumnAnswer.ColumnSubType; defaultVal = personAkStepColumnAnswer.DefaultValue; textField = akColumn.ColumnType === 'Department' ? 'DisplayText' : 'Text'; QRCodeReader = akColumn.EnableQRCodeReader;"
                    datasource="columnsListSource" text-field="textField" value-field="Id" selected-display-text="Text"
                    entity="pqbAskade" entity-text="AnswerText" type="typeVal" dropdowntype="dropDownTypeVal" columntype="columnType" enableonline="isOnline" itemselected="itemSelected"
                    ng-model="personAkStepColumnAnswer.AnswerId" dropdown-default-value="defaultVal" column-sub-type="columnSubType"
                    ng-style="{'position': 'absolute', 'clip': 'rect(1px 1px 1px 1px)', 'width': '100%' }" qr-code-reader-enabled="QRCodeReader">
    </lazy-body-dropdown>
</body-popup>