<div ng-repeat="guide in akColumn.ColumnGuides" 
     ng-init="personGuide = getColumnGuideEntity(guide.Id, akColumn.FileColumnId)">
    <div class="actionPlanMargin item item-divider borderNone" 
         ng-class="{ 'item-icon-right': guide.Description }"
         align-title="left"
         on-tap="showGroupDescription(guide.Text, guide.Description)">
        <h2 ng-class="{ 'headerTitleWidth' : guide.Description }"
            class="title showFullText" 
            ng-bind-html="guide.Text"></h2>
        <div class="icon" ng-if="guide.Description">
            <a class="button button-icon {{::getIconValue('HelpInfo')}}"></a>
        </div>
    </div>
    <div ng-include="loadAkTemplate('LongText', false)"></div>
</div>