<div class="actionPlanMargin" id="answerText_{{akStep.Id}}_{{akColumn.FileColumnId}}">
  <div class="signBtnCenter" name="answerText_{{akStep.Id}}_{{akColumn.FileColumnId}}"
     ng-model="personAkStepColumnAnswer.AnswerText" ng-required="akColumn.IsMandatory">
     <j-signature ng-init="validateSignCanvas(akStep.Id, akColumn.FileColumnId, akColumn.IsMandatory)" defaultsig="getPersonAkStepColoumnAnswer(akColumn.FileColumnId).AnswerText" save="getImageBase64" set-fn="setDirectiveFn(theDirFn, queInst)" bg-color="#00f" color="#000000" instance='akColumn'
        width="346" height="250" is-done="personAkStepColumnAnswer"></j-signature>
  </div>
</div>