<pop-up title="{{wizColumn.TranslatedText}}"
        ng-init="dispText = getDropDownText(wizColumn.Text, wizColumn.ColumnType, MultiTaskEntity.ResponsiblePersonId)"
        ng-required="{{::wizColumn.IsRequired}}"
        name="dropDownApw_{{MultiTaskEntity.WizardStepId}}_{{MultiTaskEntity.UniqueId}}"
        display-text="{{dispText}}"
        class="item actionPlanMargin button button-block icon-right {{::getIconValue('DropDown')}}"
        ng-model="MultiTaskEntity.ResponsiblePersonId"
        style="border:2px solid #EAEAEA;"
        ng-class="{ 'has-errors' : formActionPlan.dropDownApw_{{MultiTaskEntity.WizardStepId}}_{{MultiTaskEntity.UniqueId}}.$invalid && {{::wizColumn.IsRequired}} == true,
                 'no-errors' : formActionPlan.dropDownApw_{{MultiTaskEntity.WizardStepId}}_{{MultiTaskEntity.UniqueId}}.$valid && {{::wizColumn.IsRequired}} == true }">
    <lazy-dropdown selected-data-entity="MultiTaskEntity"
                   ng-init="columnsListSource = getDropDownSourceByText(wizColumn.Text, wizColumn.ColumnType); columnType = wizColumn.ColumnType; dropDownTypeVal = wizColumn.Text; isOnline = isOnlineDropDownEnable(wizColumn.Text, wizColumn.ColumnType); typeVal = 'ActionPlan'; columnSubType = null; defaultVal = MultiTaskEntity.DefaultValue; textField = wizColumn.ColumnType === 'Department' ? 'DisplayText' : 'Text'; QRCodeReader = wizColumn.EnableQRCodeReader;"
                   ng-model="MultiTaskEntity.ResponsiblePersonId" sample="MultiTaskEntity.ResponsiblePersonId"
                   datasource="columnsListSource" text-field="textField" value-field="Id" selected-display-text="Text"
                   dropdowntype="dropDownTypeVal" columntype="columnType"
                   type="typeVal" on-item-selected="setSelectedItem" enableonline="isOnline"
                   dropdown-default-value="defaultVal" column-sub-type="columnSubType" qr-code-reader-enabled="QRCodeReader">
    </lazy-dropdown>
</pop-up>