<div class="list card" ng-repeat="vq in questionnaire.ValuationQuestion">
    <div class="item cardColor removeMargin overflowInitial" ng-style="{'background-color': questionnaire.QuestionBackColor,'color':questionnaire.QuestionForeColor }">
        <h3 ng-bind-html="vq.Text"
            class="displayInlineBlock"
            ng-class="{ 'titleWidth-HelpIcon-Valuation' : vq.HelpText && vq.HelpLink,
                        'fullWidth': vq.HelpText == null && vq.HelpLink == null,
                        'singleIconQueHelpText': vq.HelpText && vq.HelpLink == null,
                        'singleIconQueHelpLink': vq.HelpText == null && vq.HelpLink }"></h3>
        <div class="buttons alignCenter displayInlineBlock verticalTopAlign">
            <div class="icon displayInlineBlock helpLinkIcon" ng-if="vq.HelpLink">
                <a class="button button-icon {{::getIconValue('LinkOutline')}} iconAllignmentQue"
                   on-touch="openHelpLink(vq)"></a>
            </div>
            <div class="icon displayInlineBlock" ng-if="vq.HelpText">
                <a class="button button-icon {{::getIconValue('Help')}} iconAllignmentQue"
                   on-touch="showHelpText(vq)"></a>
            </div>
        </div>
    </div>
    <div class="item item-body" id="border_{{::qg.Id}}_{{::q.Id}}_{{::vq.Id}}" ng-include="loadValuationAnswerTemplate(vq.TypeCode)">
    </div>
</div>