<ion-content>
  <div class="item item-divider" align-title="left" ng-if="pq.IsAnonymous">
    <h2 class="title showFullText anonymousText">
      {{::getResourceText('LIT_ANONYMOUS')}}
    </h2>
  </div>
  <div
    class="item item-divider"
    align-title="left"
    ng-class="{ 'item-icon-right' : qg.Description !== null}"
    ng-style="{'background-color': questionnaire.QuestionGroupBackColor }"
    on-touch="showGroupDescription(qg.Name, qg.Description)"
  >
    <div
      class="icon displayInlineBlock helpLinkIcon"
      ng-if="readAloud"
      style="position: initial"
    >
      <img
        ng-src="images/speaker.png"
        class="darkImg"
        on-touch="ttsConvert(qg.Name, $event)"
      />
    </div>
    <h2
      class="title displayInlineBlock showFullText"
      ng-class="{ 'titleWidth-DependencyIcon': qg.Description && qg.HelpLink,
                            'fullWidth': qg.Description == null && qg.HelpLink == null,
                            'singleIconQueDepn': qg.Description || qg.HelpLink }"
      ng-bind-html="qg.Name"
      ng-style="{'color':questionnaire.QuestionGroupForeColor }"
    ></h2>
    <h2
      ng-if="qg.HelpLink"
      class="icon {{getIconValue('LinkOutline')}} helpIconQueGpLevel displayInlineBlock"
      on-touch="openHelpLink(qg)"
      ng-class="{ 'helpIconQueGpLevelPadding': qg.Description !== null,
                            'topGrpHelpLink': qg.Description !== null }"
    ></h2>
    <div class="icon" ng-if="qg.Description !== null">
      <a class="button button-icon {{::getIconValue('Help')}}"></a>
    </div>
  </div>
  <question-template
    templateUrl="templates/questionnaire/questionTemplate.html"
    ng-if="q.IsDependencyMet"
    ng-repeat="q in qg.Questions"
  >
  </question-template>
  <br/><br/><br/>
</ion-content>
