<ion-checkbox ng-repeat="ao in q.AnswerOptions" class="answerOption_{{ao.Id}} alignSmileyWithAO showCompleteAnswerOptionCheckBox"
              id="cb_{{qg.Id}}_{{q.Id}}_{{ao.Id}}"
              name="cb_{{qg.Id}}_{{q.Id}}" ng-change="window.focus();setAnswerOptionSelected(ao.Id, checkStatus, q)"
              ng-init='checkStatus=getDefaultStatus(q.Id,ao.Id)'
              ng-model="checkStatus"
              ng-disabled="true"
              ng-style="{ 'color': getColor(questionnaire,q.Id,ao,questionnaire.AnswerOptionFontColour,'checkbox', checkStatus), 'background-color': getBackColor(questionnaire,q.Id,ao,'checkbox', checkStatus) }"
              >
    {{ao.Text}}<div ng-if="ao.ImageFile !== null" ng-bind-html="ao.ImageFile"></div>
</ion-checkbox>