<ion-view view-title="{{title}} {{getResourceText('LIT_PREVIEW')}}">
    <ion-content overflow-scroll="true" ng-readonly="true">
        <ion-list>
            <div class="subHeaderColor item item-divider">
                <h2 class="title" ng-bind-html="questionnaire.Name"></h2>
            </div>
            <div class="item item-divider" align-title="left" ng-if="pq.IsAnonymous">
                <h2 class="title showFullText anonymousText">{{::getResourceText('LIT_ANONYMOUS')}}</h2>
            </div>
            <div ng-repeat="qg in validQuestionnaireGroups">
                <div class="item item-divider"
                     ng-style="{'background-color': questionnaire.QuestionGroupBackColor,'color':questionnaire.QuestionGroupForeColor }">
                    <h2 class="title" ng-bind-html="qg.Name"></h2>
                </div>
                <div class="list card" ng-repeat="q in qg.Questions" ng-if="q.IsDependencyMet">
                    <div class="item cardColor" ng-style="{'background-color': questionnaire.QuestionBackColor,'color':questionnaire.QuestionForeColor }">
                        <h2 ng-bind-html="q.Text"></h2>
                    </div>
                    <div class="item item-body" ng-init="pqaView = getPersonQuestionAnswer(q.Id)">
                        <div id="border_{{qg.Id}}_{{q.Id}}" ng-include="loadPreviewTemplate(q.Id, q.TypeCode)"></div>
                        <div ng-if="questionnaire.ValuationQuestion.length !== 0">
                            <div ng-if="!q.IgnoreValuationQuestion" class="marginTop">
                                <div class="list card" ng-repeat="vq in questionnaire.ValuationQuestion">
                                    <div class="item cardColor removeMargin" ng-style="{'background-color': questionnaire.QuestionBackColor,'color':questionnaire.QuestionForeColor }">
                                        <h3 ng-bind-html="vq.Text"></h3>
                                    </div>
                                    <div class="item item-body" id="border_{{::qg.Id}}_{{::q.Id}}_{{::vq.Id}}" ng-include="loadValuationAnswerPreviewTemplate(vq.TypeCode)">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <textarea ng-auto-expand
                                  class="formInput alignAdjustElement formNotRequired"
                                  ng-if="q.EnableComment"
                                  placeholder="{{questionnaire.CommentLabel !== null ? questionnaire.CommentLabel : getResourceText('LIT_COMMENT')}}"
                                  rows="4"
                                  ng-model="pqaView.Comment"
                                  ng-readonly="true"></textarea>
                        <img ng-src="{{getThumnail(pqaView)}}"
                             class="Thumbnail-left addImage imageMarginTop darkImg"
                             ng-model="pqaView.FileLocation"
                             ng-if="showImageViewer(pqaView)"
                             on-tap="showImage(pqaView)" />
                    </div>
                </div>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>