<div>
    <p>
        <cite>{{::getResourceText('LIT_DEAR')}} {{userDetail.UserName}},</cite>
    </p>
    <p>
        {{::getResourceText('MSG_EMAIL_START_PHRASE')}} {{translatedModuleText}} <b>{{akWizard.Name}}</b>
    </p>
    <br />
    <br />
    <br />
    <h2><b><u><font ng-bind-html="akWizard.Name" color="#151515" face="Times New Roman, Georgia, Serif"></font></u></b></h2>
    <div ng-repeat="akStep in akWizard.Steps">
        <h3><i><b><u><font ng-bind-html="akStep.Name" color="#283747" face="Times New Roman, Georgia, Serif"></font></u></b></i></h3>
        <div ng-repeat="akColumn in akStep.Columns">
            <div ng-init="personAkStepColumnAnswer = getPersonAkStepColoumnAnswer(akColumn.FileColumnId, personAskadeWizard)">
                <div>
                    <h3><b><u><font ng-bind-html="akColumn.Text" color="#151515" face="Times New Roman, Georgia, Serif"></font></u></b></h3>
                </div>
                <div ng-if="akColumn.ColumnGuides.length === 0" ng-include="loadAskadePreviewTemplate(akColumn.ColumnType)"></div>
                <div ng-if="akColumn.ColumnGuides.length !== 0" ng-repeat="guide in akColumn.ColumnGuides"
                     ng-init="personGuide = getColumnGuideEntity(guide.Id, akColumn.FileColumnId, personAskadeWizard)">
                    <div>
                        <h5><b><font ng-bind-html="guide.Text" color="#151515" face="Times New Roman, Georgia, Serif"></font></b></h5>
                    </div>
                    <div>
                        {{personGuide.AnswerText}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <tt>{{::getResourceText('MSG_AUTO_GENERATE')}}</tt>
</div>