<label
  name="timePickerPAQ_{{::qg.Id}}_{{::q.Id}}"
  class="button buttonValue button-block button-outline fontButtonIcon icon-left {{::getIconValue('Timer')}}"
  ng-class="{ 'has-errors' : formQuestionnaire.timePickerPAQ_{{::qg.Id}}_{{::q.Id}}.$invalid && {{::q.IsRequired}} == true,
                         'no-errors' : formQuestionnaire.timePickerPAQ_{{::qg.Id}}_{{::q.Id}}.$valid && {{::q.IsRequired}} == true }"
  ng-required="{{::q.IsRequired}}"
  ng-model="pqaView.AnswerText"
  on-tap="showTime(q.Text,pqaView)"
  ng-disabled="isDatePickDisabled"
>
  {{ pqaView.AnswerText }}
</label>
