<ion-view view-title="{{::title}}" ng-view>
    <form name="formActionPlan" id="formActionPlan" novalidate>
        <div ng-if="!endOfQuestionnaire">
            <div class="bar bar-subheader"
                 ng-class="{ 'item-icon-right' : wizard.Description !== null}"
                 ng-style="{'background-color': wizard.BackColor}"
                 on-touch="showGroupDescription(wizard.Name, wizard.Description)">
                <h2 class="title" 
                    ng-class="{ 'headerTitleWidth' : wizard.Description !== null}"
                    ng-style="{'color': wizard.ForeColor }"  
                    ng-bind-html="wizard.Name"></h2>
                <div class="icon" ng-if="wizard.Description !== null">
                    <a class="button button-icon {{::getIconValue('Help')}} topLevelHelp"></a>
                </div>
            </div>
            <ion-content overflow-scroll="{{isNativeScroll}}" class="has-subheader" 
                         ng-class="{ 'overFlowScrollIndexCSS': isIOS}">
                <div class="contentContainer">
                    <div class="bodyContent">
                        <group-template templateUrl="templates/actionplan_templates/actionplanGroupTemplate.html"
                                        ng-repeat="wizStep in wizard.WizardSteps"
                                        ng-if="(currentStepIndex >= 0) && $index == showWizardView()"
                                        ng-init="setCount($index); enableNativeScrolling(wizStep)">
                        </group-template>
                    </div>
                    <div ng-if="count == currentStepIndex" class="footer">
                        <div class="row headerFooterColor removePadding">
                            <div class="col col-50">
                                <button class="button buttonColor formDefaultWidth removePadding"
                                        on-touch="previousWizardView()" ng-if="!(currentStepIndex == 0)"
                                        ng-disabled="isDisabled">
                                    {{::getResourceText('LIT_BACK')}}
                                </button>
                            </div>
                            <div class="col col-50">
                                <button class="button buttonColor formDefaultWidth removePadding"
                                        on-touch="nextWizardView()"
                                        ng-if="!(currentStepIndex == actionPlanStepLength - 1)"
                                        ng-disabled="isDisabled">
                                    {{::getResourceText('LIT_NEXT')}}
                                </button>
                                <button class="button buttonColor submitRightAlign formDefaultWidth removePadding"
                                        on-touch="submitActionPlan()"
                                        ng-if="(currentStepIndex == actionPlanStepLength - 1)"
                                        ng-disabled="isDisabled">
                                    {{::getResourceText('LIT_SUBMIT')}}
                                </button>
                            </div>
                        </div>
                        <div class="pagerColor">
                            <div class="row progress removePadding" ng-style='{"width": pos , "background-color": modColor }'></div>
                        </div>
                    </div>
                </div>
            </ion-content>
        </div>
    </form>
</ion-view>