<ion-scroll direction="y"
            class="available-scroller"
            style="height:{{getItemHeightForWindow()}};">
    <div overflow-scroll="true" class="removeTop">
        <ion-checkbox ng-repeat="item in itemListData | filter:( !isOnlineSearch ? searchModel : ''):strict"
                      class="answerOption_{{::item.Id}} alignSmileyWithAO showCompleteAnswerOptionCheckBox"
                      ng-click="window.focus(); setCheckBoxVal(item.Id, checkStatus);"
                      ng-init="checkStatus = getDefaultStatus(item.Id, item, itemListData)"
                      ng-model="checkStatus">
            {{item.Text}}
        </ion-checkbox>
    </div>
</ion-scroll>

