<div class="list card" ng-init="personAkStepColumnAnswer = getPersonAkStepColoumnAnswer(akColumn.FileColumnId)">
    <div class="item cardColor" ng-if="akColumn.ColumnType !== 'HtmlHelpText'"
         ng-class="{ 'item-icon-right': akColumn.HelpText}"
         on-tap="showGroupDescription(akColumn.Text, akColumn.HelpText)">
        <div class="buttons displayInlineBlock" ng-if="readAloud" ng-class="{ 'textSpeechAlign': readAloud}">
            <div class="icon displayInlineBlock helpLinkIcon">
                <img ng-src="images/speaker.png" class="darkImg" on-tap="ttsConvert(akColumn.Text, $event)" />
            </div>
        </div>
        <div class="showFullText" ng-bind-html="akColumn.Text" ng-class="{ 'txtSpchAlignColumn': readAloud }"></div>
        <div class="icon" ng-if="akColumn.HelpText">
            <a class="button button-icon {{::getIconValue('Help')}}"></a>
        </div>
    </div>
    <div ng-include="loadAkTemplate(akColumn, true)" ng-if="akColumn.ColumnGuides.length === 0">
    </div>
    <div ng-if="akColumn.ColumnGuides.length !== 0"
         ng-include="loadColumnGuideTemplate()">
    </div>
</div>