<ion-popover-view class="fit">
    <ion-content scroll="false">
        <div class="list optionsList" on-tap="closePopOver()">
            <a class="item item-icon-left" on-tap="openProfile()" ng-model="myProfileText">
                <i class="icon {{::getIconValue('MyProfile')}}"></i>
                {{myProfileText}}
            </a>
            <a class="item item-icon-left" ng-click="openLink()" on-tap="closePopOver()">
                <i class="icon {{::getIconValue('Help')}}"></i>
                {{helpText}}
            </a>
            <a class="item item-icon-left" on-tap="sendSupportEmail();">
                <i class="icon {{::getIconValue('Email')}}"></i>
                {{emailAdd}}
            </a>
            <a class="item item-icon-left" on-tap="logOut();">
                <i class="icon {{::getIconValue('LogOut')}}"></i>
                {{logoutText}}
            </a>
        </div>
    </ion-content>
</ion-popover-view>