<div class="row">
    <div class="col col-50">
        <item class="item bodySelector" on-tap="visualBodyPart()">
            <div class="selectorContent">
                <h2 class="selectorHeaderAlign">{{getResourceText('LIT_MOBILE_SELECT_ILLUSTRATION')}}</h2>
                <i class="icon ion-man selectorIcon"></i>
            </div>
        </item>
    </div>
    <div class="col col-50">
        <item class="item bodySelector" on-tap="manualBodyPart()">
            <div class="selectorContent">
                <h2 class="selectorHeaderAlign">{{getResourceText('LIT_MOBILE_SELECT_LIST')}}</h2>
                <i class="icon ion-ios-list selectorIcon"></i>
            </div>
        </item>
    </div>
</div>