<ion-view view-title="{{getResourceText('LIT_MOBILE_FAVORITES')}}">
    <ion-content overflow-scroll="false" class="padding">
        <div class="favEmptyCenterAlign" ng-if="allModList.length === 0">
            <lottie-player src="raw/emptySearch.json" background="transparent" speed="1" class="emptyIcons" loop autoplay>
            </lottie-player>
            <i class="icon {{::getIconValue('Favorite')}} favIconEmpty"></i>
            <h3>{{getResourceText('MSG_MOBILE_ADD_TO_FAVORITES_LINE1')}}</h3>
            <h3>{{getResourceText('MSG_MOBILE_ADD_TO_FAVORITES_LINE2')}}</h3>
        </div>
        <ion-list sortable draggable=".card" sorted="onReorder($fromIndex, $toIndex)">
            <ion-item ng-repeat="item in allModList" class="card favCardList item-complex item item-right-editable"
                      ng-style="{ 'border': '1px solid {{item.UserApp.ColourCode}}'}">
                <div>
                    <div class="item-icon-right">
                        <i class="icon {{::getIconValue('Favorite')}} favDeleteIcon"
                           ng-style="{ 'color': '{{item.UserApp.ColourCode}}' }" on-tap="removeFromFavourites(item)">
                        </i>
                    </div>
                    <div ng-if="isFileAlreadyDownloaded(item.ItemData)" class="item-icon-right" style="position:relative;top:30px;left:15px">
                        <i  style="color: green;font-size:1em"  class="icon favDeleteIcon ion-checkmark-circled" >
                        </i>
                    </div>
                    <div ng-if="item.UserApp.Text !== 'DocumentLibrary'">
                        <div class="favListContent" on-tap="navigateToAnswering(item.UserApp, item.ItemData)">
                            <h2 class="favContentModName" ng-style="{ 'color': '{{item.UserApp.ColourCode}}'}">
                                <b>{{item.UserApp.TranslatedText}}</b>
                            </h2>
                            <h2><b>{{item.ItemData.Name}}</b></h2>
                            <span>
                                <br ng-if="item.ItemData.Description == null" />
                                <p ng-bind-html="item.ItemData.Description"></p>
                            </span>
                        </div>
                    </div>
                    <div ng-if="item.UserApp.Text === 'DocumentLibrary'">
                        <div class="favListContent" on-tap="openDocument(item)">
                            <h2 class="favContentModName" ng-style="{ 'color': '{{item.UserApp.ColourCode}}'}">
                                <b>{{item.UserApp.TranslatedText}}</b>
                            </h2>
                            <div ng-if="item.GroupName">
                                <h2>
                                    <b>{{item.GroupName}}</b>
                                </h2>
                                <br />
                            </div>
                            <div ng-if="!item.GroupName">
                                <div class="removePadding" ng-if="item.ItemData.Link">
                                    <a class="removeTextDecoration" on-tap="openDocWithLink(item.ItemData)">
                                        <h2>
                                            <b>{{item.ItemData.Text}}</b>
                                        </h2>
                                        <p><br ng-if="item.ItemData.LinkName == null" />{{item.ItemData.LinkName}}</p>
                                    </a>
                                </div>
                                <div class="removePadding" ng-if="!item.ItemData.Link">
                                    <h2><b>{{item.ItemData.Text}}</b></h2>
                                    <br ng-if="!item.ItemData.LinkName && !item.ItemData.FileName" />
                                    <p ng-if="item.ItemData.LinkName">{{item.ItemData.LinkName}}</p>
                                    <p ng-if="item.ItemData.FileName">{{item.ItemData.FileName}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ion-reorder-button class="reorderIcon">
                    <i class="icon {{::getIconValue('Swap')}} swapItem"
                       ng-style="{ 'color': '{{item.UserApp.ColourCode}}'}"></i>
                </ion-reorder-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>



