.left {
  float: left !important;
  margin-left: 1em !important;
}

.leftAlign {
  float: left !important;
}

.rightAlign {
  float: right !important;
}

.right {
  float: right !important;
  margin-right: 1em !important;
}

textarea {
  overflow: hidden;
  padding: 4px;
}

.subHeaderColor {
  background-color: #dddfe1;
}

.subHeaderColor h2 {
  color: #000 !important;
}

.cardColor {
  background-color: #e9eaeb;
  color: #000 !important;
}

.cardColor h2 {
  color: #000;
  white-space: normal !important;
}

.headerColor {
  background-color: #5176a1;
  color: #ffffff !important;
  width: 100% !important;
}

.buttonColor {
  background-color: #797979;
  color: #ffffff !important;
}

.buttonColor.activated {
  background-color: #797979 !important;
}

/* ------------------------- popup CSS ------------------------------ */
/* --------------- Increasing width of popup to fit the screen -----------------*/
.popup {
  border: 7px solid #898989 !important;
  width: 90% !important;
}

.popup-buttons .button {
  background-color: #797979;
  color: #ffffff !important;
}

.button-outline.button-outline.activated {
  background-color: #797979 !important;
}

.popUpTitleBackground {
  background-color: #e2e2e2 !important;
  padding: 8px !important;
}

.right {
  align-self: flex-end !important;
}
/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak],
[ng-cloak],
.ng-cloak {
  display: none !important;
}
/* 
    Below is the validation related CSS
    ---------------------------------------- Start -----------------------------------------------------
*/

.error-container {
  margin: 5px 0;
}

.error-container:last-child {
  margin: 5px 0 0;
}

.error {
  padding: 10px 16px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #555;
  vertical-align: middle;
}

.error i {
  font-size: 24px;
  color: #b83e2c;
  vertical-align: middle;
}

.last-error-container > .error {
  padding: 10px 16px 0;
}

.has-errors {
  border-right: 7px solid #b83e2c !important;
}

.no-errors {
  border-right: 7px solid green !important;
}
/* ---------------------------------------- End ------------------------------------------------------- */
.touch {
  -webkit-overflow-scrolling: touch;
}

.ionic_toast {
  color: #fff;
  cursor: default;
  font-size: 1em;
  display: none;
  border-radius: 10px;
  opacity: 1;
  padding: 10px 25px;
  margin: 10px;
  position: fixed;
  left: 25%;
  right: 25%;
  text-align: center;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  width: 50%;
}

.ionic_toast_top {
  top: 10px;
}

.ionic_toast_middle {
  top: 40%;
}

.ionic_toast_bottom {
  bottom: 10px;
}

.ionic_toast_close {
  border-radius: 2px;
  color: #cccccc;
  cursor: pointer;
  display: none;
  position: absolute;
  right: 4px;
  top: 4px;
  width: 20px;
  height: 20px;
}

.toast_close_icon {
  position: relative;
  top: 1px;
}

.ionic_toast_sticky .ionic_toast_close {
  display: block;
}

.ionic_toast_close:active {
  background-color: #555555;
}

.fontWhite {
  color: #ffffff !important;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal .scroll {
  height: 100% !important;
  background-color: transparent !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-box-direction: normal !important;
  -moz-box-direction: normal !important;
  -webkit-box-orient: horizontal !important;
  -moz-box-orient: horizontal !important;
  -webkit-flex-direction: row !important;
  -ms-flex-direction: row !important;
  flex-direction: row !important;
  -webkit-box-align: center !important;
  -moz-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}
/* --------------------------- Download button css ---------------------------*/
.ion-ios-cloud-download-outline.button.activated:before {
  content: "\f408" !important;
}

.dbutton {
  font-size: 25px !important;
}
/*  ----------------------- textbox textarea glow ------------------------------------*/
.formInputShort {
}

.formInputLong {
  margin-top: 10px;
  min-height: 5em;
}

.formInputQueLong {
  min-height: 5em;
}

.formRequired {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border-left: 2px solid #dadada !important;
  border-top: 2px solid #dadada !important;
  border-bottom: 2px solid #dadada !important;
}

.formNotRequired {
  border-radius: 5px !important;
  border: 2px solid #dadada !important;
}

.formDefaultWidth {
  width: 100%;
}

.formInput {
  padding: 10px 10px 5px 10px !important;
  width: 100%;
  margin-top: 1em !important;
}

.formInputText {
  padding: 10px 10px 5px 10px !important;
  width: 100%;
}

.commentboxMargin {
  margin-bottom: 5px;
}

.formInput:focus-within {
  outline: none !important;
  border-color: #9ecaed !important;
  box-shadow: 0 0 10px #9ecaed !important;
}

.alignAdjustElement {
  padding: 5px !important;
  min-height: 4.5em !important;
}
/* ----------------------------- Popover auto height property ------------------------*/
ion-popover-view.fit {
  height: auto;
  width: auto;
}

ion-popover-view.fit ion-content {
  position: relative;
}

.platform-android ion-popover-view.fit {
  margin-top: 10px;
}

.platform-ios ion-popover-view.fit {
  padding-top: 10px;
  padding-bottom: 10px;
}

.paddingClass {
  margin-bottom: 5% !important;
}

/*Action plan related css*/
.actionPlanStepCss {
  padding: 0px 10px 0px 10px !important;
}

.actionPlanMargin {
  margin: 10px !important;
}

.actionPlanTextarea {
  min-height: 15em !important;
}

.fontButtonIcon {
  /*border: 1px solid #669900 !important;*/
  margin-left: 8px !important;
  width: 95% !important;
}

.toggle input:checked + .track {
  border-color: #669900 !important;
  background-color: #669900 !important;
}

.alignSelectTag {
  position: inherit !important;
  padding: 0 7px 0 2px !important;
  white-space: initial !important;
  direction: ltr !important;
  line-height: 33px !important;
  word-break: break-all !important;
}

.textOverflowHide {
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}

.apwLabel {
  text-align: left !important;
  padding: 5px !important;
  white-space: inherit;
}

/* ------------------------------- Start screen Button -----------------------*/
.startScreenButton {
  padding: 0 3px 0 3px !important;
  white-space: normal !important;
  margin: 10px 15px 10px 0 !important;
  line-height: 33px !important;
  word-break: break-all !important;
}

/* -------------------------- List Popup Css ----------------------------------*/
.listPopUpClass:nth-last-child(2) {
  padding: 0 10px 0 10px !important;
}

.listPopUpClass > .popup {
  width: 90% !important;
}

.listPopUpClass > .popup > .popup-body {
  overflow: hidden !important;
}

.listPopUpHeight {
  overflow: auto !important;
}

.listPopUpDataSource {
  white-space: normal !important;
  padding: 5px 5px 5px 15px !important;
}

/* ------------------ Tabs Styling --------------------*/

.tabs-striped.customStyleTab .tab-item.active {
  color: #ffffff !important;
  border-bottom: 2px solid #ffffff !important;
}

.customStyleTab .tab-item {
  color: #ffffff !important;
  opacity: 1 !important;
}

/* Remove the highlighting of the border for the tabs */
.tabs-top.tabs-striped .tab-item.active {
  margin: 0px !important;
}

/* -------------------------- For Progress bar ------------------------*/
.progress {
  height: 3px !important;
  margin: 0px !important;
  padding: 0px !important;
}

/* -------------------- Remove Padding -------------------------*/

.removePadding {
  padding: 0px !important;
}

/* -------------------- Remove Margin -------------------------*/

.clearMargin > .title {
  margin: 0px !important;
}

/* ---------------- image centre ------------------------------*/
.imageCentre > img {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 10px !important;
  max-height: 60px !important;
}

/* ---------------------- aligning smileys with answer option ---------------------*/
.alignSmileyWithAO .item-content {
  vertical-align: middle !important;
  display: flex !important;
}

.alignSmileyWithAO .item-content > div > img {
  width: 24px !important;
  height: 24px !important;
  margin-left: 0.5em !important;
  margin-right: 0.5em !important;
}
/* ---------------------- Disabling the background colour at the radio options ---------------------*/

.answerOptionColouring .item-content {
  background-color: unset !important;
}
/* ---------------------- Auto save toggle button ------------------------*/
.autoSaveToggle input:checked + .track {
  border-color: #9e9e9e !important;
  background-color: #9e9e9e !important;
}

/* ---------------------------- Header width class ------------------------*/
.headerTitleWidth {
  width: 82% !important;
}

/* ---------------------- Padding for the list item in completed to adjust buttons ------------------- */
.paddingRightButton {
  padding-right: 130px !important;
}

/* --------------- Upload in-progress color code ---------------------------*/
.uploadInProgress {
  color: #ffab00 !important;
}

/* ---------------------- Upload fail ------------------------*/
.uploadFail {
  color: #b83e2c !important;
}

/* -------------------- Home Screen badge top property ------------------------*/
.badgeHome {
  padding: 2px 6px !important;
  right: 15px !important;
  line-height: 13px !important;
  font-size: 9px !important;
  color: #ffffff !important;
}

/* ----------------- Home screen in progress and completed css ------------------ */
.homeViewInProgressCompleted {
  font-size: 17px !important;
}

.homeViewInpCompTextFont {
  font-size: 12px !important;
}

.homeViewInpCompProp {
  border-style: none !important;
  background-color: inherit !important;
}

.homeModIcon {
  padding-bottom: 3px !important;
}

.dbHome {
  padding-top: 3px !important;
}

/* ----------------------- My Profile UI --------------------*/
.profileLabel {
  white-space: initial !important;
}

/* ------------------------- List Last child bottom padding -------------------------*/
.list:last-child {
  margin-bottom: 15px !important;
}
/* Exclude popover */
.popover .list:last-child {
  margin-bottom: 0px !important;
}

/* -------------------------- Aligning list items ------------------------------*/
.listItem {
  display: flex !important;
  align-items: center !important;
}

.listImage {
  margin-right: 8px !important;
}

/* -------------------------- Display of Complete text in the list -------------------------*/
.showFullText {
  overflow: inherit !important;
  white-space: normal !important;
}

/* ----------------------- Display long text in a single line ----------------------------*/
.singleLineText {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

/* ------------------------ Black screen issue while navigating between views in IOS ------------------*/
[nav-view-transition="ios"][nav-view-direction="forward"],
[nav-view-transition="ios"][nav-view-direction="back"] {
  background-color: transparent !important;
}

/* ------------------------- IOS Popover arrow issue --------------------------*/
.platform-ios .popover-arrow {
  display: none !important;
}

/* ---------------------------- Valuation Question related ------------------------------*/
.removeMargin h3 {
  margin: 0px !important;
}

.marginTop {
  margin-top: 5px !important;
}

/* ---------------------- Align content center -----------------------*/
.alignCenter {
  text-align: center !important;
}

/* ------------ Removing border for column guide in Askade --------------------*/
.borderNone {
  border-style: none !important;
}

/* ----------------- Handling long answer option --------------------------*/
.showCompleteAnswerOptionRadio .item-content > span {
  white-space: initial !important;
  width: 100% !important;
}

.showCompleteAnswerOptionRadio .item-content {
  padding-right: 40px !important;
}

.showCompleteAnswerOptionRadio .radio-icon {
  padding: 12px !important;
}

.showCompleteAnswerOptionCheckBox .item-content > span {
  white-space: initial !important;
  width: 100% !important;
}

/* --------------------------- Timer -------------------------*/
.existingValue {
  color: #0567dd !important;
  background-color: #b0cdf0 !important;
  margin: 1px 1px 0px 1px !important;
}

/* -------------------------- Next/Submit/Back moving to the end of the viewport ---------------------*/

.contentContainer {
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.bodyContent {
  padding-bottom: 60px; /* Height of the footer */
  flex: 1;
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 60px; /* Height of the footer */
  z-index: 9999;
}

/* ------------------------------ Pager background color --------------------------------------*/
.pagerColor {
  background-color: #b3d3ec !important;
}

/* --------------------------------- Date picker opacity --------------------------------------*/
.datepicker-modal-container .datepicker-modal {
  background-color: rgba(255, 255, 255, 1) !important;
}

/* -------------------------- Show dependency icon changes ------------------------------------*/
.showDependencyIcon {
  display: flex !important;
}

.showDependencyIcon .button {
  line-height: 0px !important;
  min-height: 0px !important;
}

.titleWidth-DependencyIcon {
  width: 75% !important;
}

.alignDependencyIcon {
  margin-left: 0.5em !important;
}

/* ---------------- My Profile Settings save button ----------------------*/
.saveSettings {
  top: 0.1em !important;
  min-height: 23px !important;
  font-size: 13px !important;
  font-weight: bold !important;
  line-height: 22px !important;
  border: 1px solid !important;
}

.saveRequired {
  border: 1px solid #b83e2c !important;
}

.defaultSaveSettingsColor {
  border: 1px solid #ffffff !important;
}

/* -------------------- Loader close icon in Loader service template --------------------*/
.loaderCloseBtn {
  position: absolute !important;
  top: 0.5em !important;
  right: 0.5em !important;
  color: #ffffff !important;
}

/* ----------------------- My profile email ------------------------*/
.wrapLabel {
  word-wrap: break-word !important;
  white-space: initial !important;
  width: 100% !important;
  display: inline-block !important;
  padding: 0px !important;
}

/* ----------------------- Margin Bottom in Login screen input labels -------------------*/
.marginBottom {
  margin-bottom: 1% !important;
}

/* ---------------------------- Reset Button in My profile screen -------------------------*/
.resetButton {
  min-height: 23px !important;
  line-height: 0px !important;
  font-size: 13px !important;
  text-align: center;
  vertical-align: middle;
  top: 15px !important;
}

/* -------------------------- PDF icon in completed section ---------------------*/
.pdfImage {
  padding: 11px 6px !important;
}

.zeroHeight {
  height: 0px !important;
}

/* ------------------ Collapsible drop down related css --------------------------*/

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}

.list .item.item-accordion.ng-hide {
  line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

/* ------------------------------ Comments for Attachment --------------------------*/
.imageFit {
  width: 100% !important;
  height: 100% !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
}

.deleteMargin {
  margin: 0px !important;
}

.imageComments {
  padding: 2px !important;
}

.rightMargin {
  margin-right: 2px !important;
}

/* -------------------------------- Customer key in toggle screen ---------------------------*/
.toggleScreenInputText:last-child {
  margin: 0px !important;
}

.toggleScreenInputElement {
  padding: 2px !important;
}

.toggleInputTextPadding {
  padding: 6px 10px 5px 10px !important;
}

.removePaddingMargin {
  padding: 0px !important;
  margin: 0px !important;
}
.pdfHideCss {
  position: absolute;
  left: -2000px;
  top: -2000px;
}

.displayInlineBlock {
  display: inline-block !important;
}

.iconAllignmentQue {
  position: relative !important;
  font-size: inherit !important;
  line-height: 0px !important;
  min-height: 0px !important;
}

.verticalTopAlign {
  vertical-align: top !important;
}

.fullWidth {
  width: 100% !important;
}

.preWidth {
  width: 95% !important;
}

.fullWidthReadAloud {
  margin-left: 0.5em !important;
  width: 90% !important;
}

.onlineToggleText {
  padding: 7px !important;
  font-size: 12px !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.searchInDropDown {
  padding: 2px 0px 2px 4px !important;
}

.onlineToggleButton > .toggle {
  top: 9px !important;
}

.onlineToggleBtn {
  float: right !important;
  font-size: 11px !important;
  min-height: 0px !important;
  line-height: 16px !important;
}

.buttonOfflineColor {
  background-color: #c9c9c9 !important;
  color: #ffffff !important;
}

.displayInGrid {
  display: grid !important;
}

/* -------------------------------- Anonymous text style -----------------------------------*/
.anonymousText {
  font-size: 12px !important;
  text-align: center !important;
}

/* --------------------------------------- Highlighting color --------------------------------*/
.higlightColor {
  color: #00b700 !important;
}

.higlightLabel {
  flex: 0 0 5% !important;
  max-width: 5% !important;
  font-size: 50px !important;
}

.dropDownLabel {
  flex: 0 0 95% !important;
  max-width: 95% !important;
}

.toggleIconFont {
  font-size: 25px !important;
  color: #006600 !important;
}

.headerToggle {
  font-size: 19px;
  padding-top: 14px !important;
  padding-bottom: 0px !important;
  padding-left: 12px !important;
  font-family: Verdana !important;
}

/* ----------------------------- Width property for tabs in IPad or Android tab (landscape mode)------------------*/
.full-width-tab {
  max-width: 100% !important;
}

/* ------------------------------ Document Library related --------------------------------*/

#htmlIframe {
  width: 100% !important;
  height: 100% !important;
}

.docSearchMargin {
  margin: 10px 5px !important;
}

.popUpOverflow {
  overflow: hidden !important;
}

.iconFont {
  font-size: 25px !important;
}

.displayNone {
  display: none !important;
}

.helpIconQueLevel {
  display: inline-block !important;
  padding-right: 7px !important;
}

.helpIconQueGpLevel {
  font-size: 18px !important;
}

.helpIconQueGpLevelPadding {
  padding-right: 25px !important;
}

.helpLinkIcon {
  font-size: 18px !important;
}

.topLevelHelp::before {
  font-size: 18px !important;
}

.topGrpHelpLink {
  top: 11px !important;
}

.singleIconQueDepn {
  width: 93% !important;
}

.singleIconQueDepnReadAloud {
  margin-left: 0.5em !important;
  width: 84% !important;
}

.singleIconQueHelpLink {
  width: 93% !important;
}

.singleIconQueHelpLinkReadAloud {
  margin-left: 0.5em !important;
  width: 84% !important;
}

.singleIconQueHelpText {
  width: 93% !important;
}

.singleIconQueHelpText {
  width: 84% !important;
}

.titleWidth-HelpIcon-Valuation {
  width: 80% !important;
}

.titleWidth-HelpIcon-ValuationReadAloud {
  margin-left: 0.5em !important;
  width: 70% !important;
}

.overflowInitial {
  overflow: initial !important;
}

.docHtmlView {
  overflow: hidden !important;
}

.docHtmlView > .popup {
  height: 100vh !important;
}

.docHtmlView > .popup > .popup-body {
  position: relative !important;
  height: 100vh !important;
}

.docHtmlView > .popup > .popup-body > .scroll-view.overflow-scroll {
  position: absolute !important;
}

/*------------------------------ HTML document library display ------------------------------*/
.popupHtmlCss {
  padding: 5px !important;
}

/* --------------------------- Date picker IOS 11 issue -----------------------------------*/
/*------------------------- This is moved to merges folder --------------------------------*/
/* --------------------------------- Signature ----------------------------------------------*/
.signPaddingRgt {
  margin-right: 3px !important;
}

.jSignature {
  background-color: #ffffff !important;
  border: 1px solid !important;
  border-style: dashed !important;
  padding-bottom: 5px !important;
}

.signInitials {
  padding-left: 0px !important;
  margin-top: 15px !important;
}

.signBtnCenter {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.disableElement {
  pointer-events: none !important;
}

/* ---------------------- Text to speech ----------------------------*/
.textSpeechAlign {
  position: absolute !important;
  padding-right: 1.5em !important;
}

.txtSpchAlignColumn {
  padding-left: 1.5em !important;
}

.txtSpchAlignColumnWithHelpTxt {
  padding-left: 1.5em !important;
}

.txtSpchActionPlan {
  position: absolute !important;
  padding-left: 2.5em !important;
  top: 0.8em !important;
}

.micQueComment {
  /*float: right !important;*/
  min-height: 27px !important;
}

.micQueComment.icon:before {
  font-size: 20px !important;
  margin-top: 0px !important;
}

.actionPlanTitle {
  padding: 0px 0px 0px 10px !important;
}

.actionPlanTitleStyle {
  margin: 1em 0px 0px 0px !important;
}

.popUpSpeakerIcon {
  margin: 0 auto !important;
  width: 100% !important;
}

/* ----------------------------------- Editable Time Picker -----------------------------*/
.editTimePickerMargin {
  margin-right: 1em !important;
}

.alignCenterTimePicker {
  margin: 0 auto !important;
  width: 50% !important;
}

.editTimeHourLabel {
  padding: 6px 0 5px 10px !important;
  margin-right: 0.7em !important;
  margin-left: 0.1em !important;
}

.editTimeHour {
  width: 35px !important;
  padding: 0px !important;
  font-size: 16px !important;
}

.editTimeMinuteLabel {
  padding: 6px 0 5px 10px !important;
}

.editTimeMinute {
  width: 35px !important;
  padding: 0px !important;
  margin: 0px !important;
  font-size: 16px !important;
}

.marginColon {
  margin-right: 0.7em !important;
  font-size: 16px !important;
}

.readAloudPopUp .popup {
  width: 330px !important;
}

/* --------------------------------- Multi Task ---------------------------------------------*/
.multiTaskItemHeight {
  height: 30px !important;
}

.multiTaskItemButton {
  line-height: 0 !important;
}

.actionPlanMultiTaskCss {
  padding: 0px 10px 15px 10px !important;
}

.actionPlanMultiTaskAttach {
  padding: 5px 0px 0px 5px !important;
}

.overFlowScrollIndexCSS > .scroll {
  height: 100% !important;
}

.removeTextDecoration {
  text-decoration: none !important;
  color: #444 !important;
  white-space: normal !important;
}

/*-------------------------------------- New Home Page ---------------------------------*/
.singleGrid {
  /*adding an height for a tile*/
  height: 105px;
  background-color: #fafafa !important;
  text-align: center !important;
  word-break: break-word !important;
  /*border: 1px solid grey;*/
  /* Adding a space on top and between the tiles */
  margin: 0px 9px 9px 2px !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
}

/*.homeIconSize {
    font-size: 2em !important;
}*/

.paddingNewHome {
  padding-right: 20px !important;
}

/*.homeIconSize > img {
    height: 30px !important;
    margin-bottom: 3px !important;
}*/

.tileViewTextFontSize {
  font-size: 2.5vw !important;
}

.tileViewDescFontSize {
  font-size: 8px !important;
}

.breakWord {
  white-space: initial !important;
}

.alignVertical {
  vertical-align: middle !important;
  display: flex !important;
}

.docLibIconFont {
  font-size: 20px !important;
}

@media only screen and (max-width: 767px) {
  .tileViewTextFontSize {
    font-size: 3.5vw !important;
  }
}

.updateInput {
  text-align: right !important;
}
/* -------------------------------------------------- Favorites Screen -------------------------------------------------------*/
.favoriteHomeIcon {
  float: right !important;
  font-size: 1.4em !important;
}

.paddingMainIconInFavorite {
  padding-left: 0.5em !important;
}

.favoriteCard {
  position: relative !important;
  overflow: visible !important;
}

.removeCardMargin {
  margin: 11px;
  border-radius: 2px !important;
}

/*If the need for on touch colour change for favourite delete button just uncomment the below line of code */
/*.favDeleteIcon:active {
    color: #B83E2C !important;
}*/

.favDeleteIcon {
  font-size: 30px !important;
}

.favListIcon {
  padding: 10px 12px 10px 10px !important;
  right: 0px !important;
  height: 60% !important;
}

.favListContent {
  width: 98% !important;
}

.favContentModName {
  font-size: 10px !important;
}

.favEmptyCenterAlign,
.surveyEmptyCenterAlign {
  position: relative !important;
  top: 25px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  flex-wrap: wrap !important;
  align-content: center !important;
  justify-content: center !important;
  text-align: center !important;
  color: #bdbdbd !important;
}

.surveyEmptyCenterAlign {
  top: 25% !important;
}

.surveyEmptyCenterAlign * > img {
  position: relative !important;
  top: 4px !important;
}

.surveyEmptyCenterAlign > div {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  column-gap: 10px !important;
}

.homeEmptyCenterAlign {
  position: relative !important;
  top: 10% !important;
  text-align: center !important;
  color: #bdbdbd !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.favEmptyCenterAlign > h3,
.surveyEmptyCenterAlign * > h3,
.homeEmptyCenterAlign > h3 {
  color: #bdbdbd !important;
}

.favIconEmpty {
  margin-top: 24px !important;
  font-size: 20px !important;
  position: relative;
  left: -5px;
}

.showReorderIcon {
  opacity: 1 !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

.hideRecoderIcon {
  opacity: 0 !important;
  -webkit-transform: none !important;
  transform: none !important;
}

.reorderIcon {
  padding: 0px !important;
  width: 55px !important;
  border-radius: 0px !important;
}

.swapItem {
  font-size: 25px !important;
  -webkit-transform: rotate(90deg) !important;
  align-items: center !important;
  position: absolute;
  padding: 27px 15px 25px 17px !important;
  flex: auto;
}

.item-right-edit {
  width: 55px !important;
  padding-left: 0px !important;
}

.favCardList {
  padding: 0px;
  margin: 12px 0px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

/* -------------------------------------------------- Main Menu Screen for News notification icon -------------------------------------------------------*/

.notificationIcon {
  font-size: 23px !important;
  padding-right: 5px !important;
  padding-top: 1px !important;
  padding-left: 11px !important;
}

.notificationBatch {
  position: absolute;
  font-size: 9px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  width: 20px;
  padding-right: 0px;
  bottom: 58%;
  left: 28%;
}

.notification {
  position: relative;
  right: 23%;
}

.newsCard {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.attachIconColor {
  color: black !important;
}

.newsToggle {
  padding: 9px !important;
  padding-left: 20px !important;
  border-top-width: 9px !important;
}

.icondrop {
  left: 91% !important;
}

.guideButtonCss {
  border: 1px solid #000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ----------Qustnr Field Value Text Color------------ */
.buttonValue {
  color: #444 !important;
}

/*------------------new grid tile styling----------------  */

.gridPadding {
  padding: 0px !important;
}

.paddingNewGridHome {
  padding: 0px !important;
}

.homeTileRow {
  display: flex;
  padding: 0px !important;
  width: 100%;
  margin-top: 0px !important;
}

.newSingleGrid {
  height: 266px;
  background-color: #fafafa !important;
  text-align: center !important;
  border: 1px solid grey;
  word-break: break-word !important;
  margin: 0px !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
  /* padding-top: 85px;
    padding-bottom: 180px; */
}

.homeIconSize > img {
  height: 40px !important;
  margin-bottom: 5px !important;
  max-width: 100px;
  max-height: 40px;
}

.homeIconSize {
  font-size: 4em !important;
}

.gridShowFullText {
  overflow: inherit !important;
  white-space: normal !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.gridContent {
  padding: 80px 0;
}

.scrollIndicator {
  font-size: 4em;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  opacity: 0.75;
  animation: updown 2s ease infinite;
}
@keyframes updown {
  0% {
    transform: translateY(-40%);
  }

  50% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-40%);
  }
}
@-webkit-keyframes updown {
  0% {
    transform: translateY(-40%);
  }

  50% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-40%);
  }
}

/*----------------------------------style for placeholder input ---------------------------------------*/

.commentFontStyle,
.fontStyleItalic {
  font-style: italic;
}

.imagePadding {
  padding: 10px !important;
  margin-top: 5px;
  border-top: 0px;
}

.imagePaddingBot {
  padding-bottom: 12px !important;
  padding-left: 20px !important;
}

.imageAdd {
  font-size: xx-large !important;
  color: black !important;
  flex: 0;
}

.imageText {
  margin-top: 6px !important;
  font-size: medium !important;
  padding-left: 15px !important;
}

.addImage {
  width: 40px !important;
  height: 40px !important;
}
.closeImage {
  font-size: x-large !important;
  color: red !important;
}

.imageMarginTop {
  margin-top: 10px !important;
}

/*Scanner camera button style is added here*/

.scannerButtons,
.assetScannerButtons {
  position: absolute;
  top: 99%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  visibility: hidden !important;
  z-index: 999;
}

.assetScannerButtons {
  top: 90%;
  justify-content: space-around;
}

.scannerButtonsForSmallScreen {
}

.scannerButtons > a,
.assetScannerButtons > a {
  font-size: 35px !important;
  margin-left: 20px !important;
  margin-right: 40px !important;
  color: white !important;
}

.questionnaireMargin {
  margin-top: 0px !important;
  margin-bottom: 15px !important;
}

.questionnaireMargin::after {
  position: unset !important;
}

.questionnaireTitle {
  padding: 0px 0px 0px 10px !important;
  margin-top: 0px !important;
}

.questionnaireButton {
  margin-top: 0px !important;
}

.questionnairePicker {
  padding: 0px !important;
  width: 105%;
  right: 2%;
}

.picker {
  padding: 0px !important;
}

/* -------------------------------------------------- TimePicker Css Changes -------------------------------------------------------------------- */

.timePickerAlignmnet {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.timePickerWidthAlignmnet {
  width: 31% !important;
}

#hour,
#minute {
  border: 1px solid black !important;
  width: 36px !important;
  padding: 0px !important;
  text-align: center;
  border-radius: 5px !important;
}

.hourField {
  position: relative !important;
  right: 3% !important;
}

.minuteField {
  position: relative !important;
  left: 3% !important;
}

.clockIcon {
  padding-left: 10px !important;
  font-size: 32px !important;
}

/*------------------------Map Changes-------------------------------------*/
.mapAlignmnet {
  display: flex;
  width: 100% !important;
  align-items: center !important;
}

.mapAlignmnet > img {
  width: 30px !important;
  height: 30px !important;
}

.mapAlignmnet > div {
  width: inherit !important;
}

.mapAlignmnet * > input {
  padding-right: 0px !important;
}

.GeoLocationValue {
  display: flex !important;
  justify-content: center !important;
  border-radius: 5px !important;
  border: 2px solid #dadada !important;
  padding: 0px 5px 0px 5px !important;
  margin-left: 10px !important;
  line-height: 20px !important;
}

.ErrorClass {
  filter: grayscale(1) !important;
}
/*------------------------Map Changes-------------------------------------*/
.DamageVisualSelectButton,
.DamageListSelectButton {
  display: none !important;
}
.wrapText {
  white-space: nowrap !important;
}
/*------------------------Tree View---------------------------------------*/
.docTreeRoot {
  position: relative;
  top: 25px;
  padding: 0px 25px 0px 10px;
}
.documentTree {
  margin: 10px 20px 10px 20px !important;
}

/*.documentParentName {
    display: flex !important;
    align-items: center !important;
}*/

.documentParentName > i {
  margin-right: 10px !important;
}

.docTreeRoot * > ul {
  line-height: 2em;
  font-size: 20px;
}

.docTreeRoot * > ul li,
.docTreeRoot * > ul div {
  position: relative !important;
}

.documentParent {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 5px 5px 5px 5px !important;
}

.documentParent > details {
  flex: 1 !important;
}

.documentParent > img {
  width: 25px;
  height: 25px;
  position: relative;
  left: 1rem;
  top: -7px;
}

.docTreeRoot * > ul li::before {
  display: block;
  position: absolute;
  left: -10px;
  top: 0px;
  border-left: 2px dotted gray;
  border-bottom: 2px dotted gray;
  content: "";
  width: 8px;
  height: 1em;
}

.docTreeRoot * > ul li::after {
  display: block;
  position: absolute;
  left: -10px;
  bottom: 0px;
  border-left: 2px dotted gray;
  content: "";
  width: 8px;
  height: 100%;
}

.docTreeRoot * > ul li:last-child::after {
  display: none;
}

.docTreeRoot * > ul.tree > li::after,
.docTreeRoot * > ul.tree > li::before {
  display: none;
}

.docText {
  left: 4%;
}

.docVisited > span:hover {
  padding: 2px 5px 2px 5px !important;
  color: black !important;
  background-color: darkgrey !important;
  border-radius: 6px !important;
}

.docVisited {
  display: flex !important;
  justify-content: start !important;
}

.docVisited > a {
  font-size: 18px !important;
}

.docVisited > span {
  margin-left: 4px !important;
  font-size: 14px !important;
}

.documentChildTree {
  margin-left: 4%;
}

.treeToggle {
  position: absolute;
  top: -15px;
  z-index: 999;
  right: 2%;
}

.treeToggle::before {
  font-size: 25px !important;
}

.clearSearch {
  right: 8% !important;
}

summary {
  display: flex !important;
  justify-content: start !important;
  align-items: start !important;
  flex-direction: row !important;
  font-size: 18px !important;
}

summary::before {
  content: url("../images/folder.png");
  position: relative !important;
  top: 3px !important;
  margin-right: 5px !important;
}
/*------------------------Tree View---------------------------------------*/
.iconFx {
  font-size: 0.7em;
}

.btnDiv {
  display: flex;
  flex-direction: column;
}

.frntBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: gray;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 10px 0;
  border-radius: 5px;
  width: 100%;
}

.btnBlue {
  background-color: rgb(0, 115, 199) !important;
}

.alignSpaceBtwn {
  display: flex;
  justify-content: space-evenly;
}

.hrLeft {
  width: 45%;
  text-align: left;
  margin-left: 0;
  border-color: #f2f2f2;
}

.hrRight {
  width: 45%;
  text-align: left;
  margin-right: 0;
  border-color: #f2f2f2;
}

.or-text {
  color: #a9a9a9;
}

.alignBtnIcon {
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 27px;
  background-size: contain;
  margin-right: 10px;
}

.btnTxt {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
}

.labelText {
  font-size: 16px !important;
  padding: 0px 3px 0px 5px;
  margin: 10px 0px 10px 0px;
}

.scannerIcon {
  width: 40px;
  height: 40px;
  position: absolute !important;
  right: 2px !important;
}

.scanInput {
  padding-right: 10% !important;
}

.loginScanBtn {
  top: 90% !important;
  justify-content: space-evenly !important;
}

.scanCamCss {
  right: 20px !important;
  font-size: 30px !important;
  color: white !important;
}

.scanCamCss > img {
  width: 25px !important;
}

.assetPopUp {
  min-height: 200px !important;
}

.alignCloseButton {
  float: right;
  position: relative;
  right: 10px;
  font-size: 20px;
  color: white;
}

.assetPopUp * > .bodyHeader {
  padding: 15px 10px;
  border-bottom: 1px solid #eee;
  text-align: center;
  color: white;
}

.assetPopUp .popup .popup-head {
  display: none !important;
}

.removeTop {
  top: 5px !important;
}

.docCheck * > .checkbox-icon {
  width: 30px !important;
  height: 30px !important;
}

.docCheck * > .checkbox input:checked + .checkbox-icon:before {
  background: lawngreen !important;
  border-color: lawngreen !important;
}

.docCheck * > .checkbox-icon::after {
  border-width: 2px !important;
  top: 33% !important;
  left: 12% !important;
  width: 14px !important;
  height: 7px !important;
}

.docCheck * > .checkbox-icon::before {
  border-radius: 20px !important;
  width: 100% !important;
  height: 100% !important;
  margin-top: -8% !important;
  margin-left: -14% !important;
}

.valuateBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.valuateBtn > button {
  border: none;
  background: lightgray;
  height: 40px;
  min-width: 60px;
}

.signature {
  width: 100% !important;
  height: 300px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.Signed .checkbox input:disabled:checked + .checkbox-icon:before,
.Signed .checkbox input:disabled:checked:before {
  background-color: green !important;
  border-color: green !important;
}

.survey {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
  column-gap: 13px !important;
}

.survey > img {
  height: 25px !important;
}

.content {
  height: 100%;
  width: 100%;
}

.survey-tab * > .tab-item {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.survey-tab * > .tab-item {
  column-gap: 10px !important;
}

.survey-tab,
.survey-tab * > .tab-item {
  color: black !important;
}

.survey-tab * > .tab-item.active {
  border-top: 2px solid black !important;
  position: relative !important;
  bottom: 1px !important;
}

.backBtn {
  position: absolute !important;
  top: 20px !important;
  left: 10px !important;
  width: 35px !important;
  height: 35px !important;
  background-color: ghostwhite !important;
  border-radius: 50px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.backBtn > img {
  position: relative !important;
  right: 3px !important;
  height: 20px !important;
}

.mainSurveyContent {
  margin-top: 10px !important;
  top: 100px !important;
}

.surveyHeader {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding: 10px !important;
  margin-bottom: 5px !important;
}

.showMoreLess {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.surveyHistory {
  display: flex !important;
  flex-direction: column !important;
}

.surveyHistory > span {
  padding: 10px 0px 10px 0px !important;
}

.previousSurvey,
.todaysSurvey {
  border-radius: 5px;
  background: #ededed;
  height: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 20px;
  color: black;
}

.todaysSurvey {
  margin-top: 10px;
  border: 1px solid green;
}

.surveyTabColor {
  border-bottom: 2px solid black !important;
  color: white !important;
}

#fileInput::file-selector-button {
  display: none;
}
.fileSelectorLabel {
  padding-left: 40px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: start !important;
  border-bottom: 0px !important;
}

.fileSelectorLabel > i {
  left: -4px !important;
}

.fileselector {
  position: relative !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.fileUploadBlock {
  justify-content: space-between !important;
  align-items: center !important;
}

.fileUploadBlock > input {
  width: 60% !important;
}

.f-jc-str {
  display: flex !important;
  justify-content: start !important;
  align-items: center !important;
}

.alignChatBot {
  display: flex;
  justify-content: center;
  align-items: center;
}

.alignChatBot > img {
  height: 30px;
}

.alignDates {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.surveyCustomDateSelector {
  margin-top: 10px !important;
}

.aiChatButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 12%;
  bottom: 12%;
}

.aiChatButton > img {
  width: 25px;
  height: 25px;
}

.alignDocGroupWithAiIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.alignDocGroupWithAiIcon > a {
  flex: 1;
  border-right: 0px !important;
  text-decoration: none;
}
.alignDocGroupWithAiIcon > img {
  height: 50px !important;
  padding: 10px !important;
}

.addItem {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed;
}

.loginHeaderIcons {
  display: flex !important;
  column-gap: 6px;
  position: relative;
  right: 10px;
}

.btnUrlScanner {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.urlScanner {
  width: 26px !important;
  height: 26px !important;
}
.urlScanIcon {
  width: 40px;
  height: 40px;
}

/* Landing page styles */

.spacing {
  margin: 30px 0px 30px 0px !important;
}

.flexClass {
  display: flex !important;
  justify-content: center !important;
  align-items: start !important;
  width: 100% !important;
}

.flexClassImage {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100% !important;
}

.flexDir {
  flex-direction: column !important;
}

.flexGap {
  column-gap: 10px !important;
}

.mainLogo {
  width: 273px;
  height: 78px;
  flex-shrink: 0;
  aspect-ratio: 7/2;
}

.welcomeText {
  color: #000;
  font-family: "Open Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

.scanToken > label,
.scanOrganization > label {
  width: 100%;
}
