
/* ------------------------------------------welcome css--------------------------------------------- */

.slideContent {
    position: absolute;
    width: 100%;
    top: 15%;
}

.imgcenter {
    width: 80%;
}

#welcometxt {
    padding-top: 5% !important;
    align-content: center;
}

#textclr {
    color: #8b8a8a;
}

#btnclr {
    color: #a5a5a5;
}

#nxtbtnclr {
    color: #5176A1;
}

.btn-find-manual {
    top: 20px !important;
}

#skipbtn {
    z-index: 1 !important;
    font-size: 20px;
    position: absolute;
    bottom: 3px;
    left: 15% !important;
}

#nextbtn {
    z-index: 1 !important;
    font-size: 20px;
    position: absolute;
    bottom: 3px;
    right: 15% !important;
}



/*----------------------------------------screen css-------------------------------------------------------*/

.linktype {
    width: 500px;
    animation: typing 5s steps(50,end) 2s 1 normal both, animated-cursor 600ms steps(50,end);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation: typing 5s steps(50,end) 2s 1 normal both, animated-cursor 600ms steps(50,end);
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 260px;
    }
}

@keyframes animated-cursor {
    from {
        border-right-color: rgba(0,255,0,.75);
    }

    to {
        border-right-color: transparent;
    }
}

@-webkit-keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 260px;
    }
}

@-webkit-keyframes animated-cursor {
    from {
        border-right-color: rgba(0,255,0,.75);
    }

    to {
        border-right-color: transparent;
    }
}

#titleclr {
    color: white;
}

.topnav {
    overflow: hidden;
    padding: 4px;
    text-align: center;
    color: white;
    font-size: 10px;
}

.topnav-right {
    font-size: 42px;
    position: absolute;
    right: 3%;
/*    animation: blinker 1.3s infinite;
    -webkit-animation: blinker 1.3s infinite;*/
}

@keyframes blinker {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes blinker {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#toggle {
    right: 1%;
    top: 6%;
    width: 25%;
    height: 6%;
    position: fixed;
    z-index: 9;
    animation-direction: reverse;
    animation: glowing 1.3s infinite;
    -webkit-animation-direction: reverse;
    -webkit-animation: glowing 1.3s infinite;
}

@keyframes glowing {
    0% {
        opacity: 0;
        top: 3%;
        box-shadow: 0 0 5px #5176A1;
    }

    50% {
        opacity: 1;
        box-shadow: 0 0 10px #5176A1;
    }

    75% {
        opacity: 1;
        background-color: #ffffff;
        box-shadow: 0 10 30px #5176A1;
    }

    100% {
        opacity: 0;
        box-shadow: 0 0 5px #5176A1;
    }
}

@-webkit-keyframes glowing {
    0% {
        opacity: 0;
        top: 3%;
        box-shadow: 0 0 5px #5176A1;
    }

    50% {
        opacity: 1;
        box-shadow: 0 0 10px #5176A1;
    }

    75% {
        opacity: 1;
        background-color: #ffffff;
        box-shadow: 0 10 30px #5176A1;
    }

    100% {
        opacity: 0;
        box-shadow: 0 0 5px #5176A1;
    }
}

#formfields {
    position: relative;
    background-color: white;
    top: 70px !important;
}

#loginbtn {
    color: white;
    background-color: #797979;
}

#spantxt {
    color: black;
}

#subbtn {
    color: white;
    background-color: #797979;
    animation-delay: 6s;
    animation: glow 5s infinite;
    -webkit-animation-delay: 6s;
    -webkit-animation: glow 5s infinite;
}

@keyframes glow {

    0% {
        background-color: #797979;
        box-shadow: 0 0 0px #5176A1;
    }

    50% {
        background-color: #797979;
        box-shadow: 0 0 0px #5176A1;
    }

    100% {
        background-color: #5176A1;
        box-shadow: 0 0 40px #5176A1;
    }
}

@-webkit-keyframes glow {
    0% {
        background-color: #797979;
        box-shadow: 0 0 0px #5176A1;
    }

    50% {
        background-color: #797979;
        box-shadow: 0 0 0px #5176A1;
    }

    100% {
        background-color: #5176A1;
        box-shadow: 0 0 40px #5176A1;
    }
}

input[disabled] {
    background-color: rgb(255, 255, 255);
}

#divcard {
    padding-right: 3px;
    padding-left: 5px;
}

#doneIcon {
    position: absolute;
    right: 0;
    padding-left: 5px;
    padding-right: 3px;
}

#backbtn {
    color: white;
    background-color: #797979;
}

#guidebtn {
    z-index: 1 !important;
    position: absolute;
    bottom: 5%;
    left: 2%;
    right: 2%;
}

.slider {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.slider-pager-page.active {
    fill: #5176A1 !important;
    color: #5176A1 !important;
}

#head {
    background: #5176A1;
    color: rgb(255, 255, 255);
}

.cardPadding {
    display: inline;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.slidePadding {
    padding-top: 14% !important;
}

.labelPad {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
