<div ng-init="multiTaskVal = getPersonApwMultiTaskAnswer(personActionPlanWizard.Id, wizStep, true)">
    <div class="list card" ng-repeat="mt in multiTaskVal">
        <div class="item">
            <div class="multiTaskItemHeight">
                <div class="removePadding">
                    <h2>{{::getResourceText('LIT_MULTI_TASK_SOLUTION')}}</h2>
                </div>
            </div>
            <div ng-repeat="wizColumn in wizStep.Columns">
                <div class="list card">
                    <div class="item cardColor showFullText">
                        <div ng-bind-html="wizColumn.TranslatedText"></div>
                    </div>
                    <div ng-include="loadMultiTaskPreviewTemplate(wizColumn)"></div>
                </div>
            </div>
        </div>
    </div>
</div>
