<pop-up title="{{akColumn.Text}}"
        ng-init="dispText = getDropDownText(akColumn, personAkStepColumnAnswer, moduleName)"
        display-text="{{dispText}}"
        class="item actionPlanMargin button button-block icon-right {{::getIconValue('DropDown')}} alignSelectTag"
        ng-model="personAkStepColumnAnswer.AnswerText"
        assign-id-text="true"
        name="dropDownAk_{{::akStep.Id}}_{{::akColumn.FileColumnId}}"
        style="border:2px solid #EAEAEA;"
        ng-class="{ 'has-errors' : formAskade.dropDownAk_{{::akStep.Id}}_{{::akColumn.FileColumnId}}.$invalid && {{::akColumn.IsMandatory}} === true,
                         'no-errors' : formAskade.dropDownAk_{{::akStep.Id}}_{{::akColumn.FileColumnId}}.$valid && {{::akColumn.IsMandatory}} === true }"
        ng-required="{{::akColumn.IsMandatory}}">
    <lazy-dropdown ng-init="columnsListSource = getDropDownSourceByText(akColumn.ColumnType, akColumn.DataTypeId, akColumn.ColumnSubType); pqAskade = personAkStepColumnAnswer;columnType = akColumn.ColumnType; dropDownTypeVal = akColumn.DataTypeId; isOnline = isOnlineDropDownEnable(akColumn.ColumnType, akColumn.DataTypeId); typeVal = akWizard.ModuleName(); columnSubType = akColumn.ColumnSubType === personAkStepColumnAnswer.ColumnSubType ? akColumn.ColumnSubType : personAkStepColumnAnswer.ColumnSubType; defaultVal = personAkStepColumnAnswer.DefaultValue; textField = akColumn.ColumnType === 'Department' ? 'DisplayText' : 'Text'; QRCodeReader = akColumn.EnableQRCodeReader;"
                   datasource="columnsListSource" text-field="textField" value-field="Id" selected-display-text="Text" 
                   entity="pqAskade" entity-text="AnswerText" type="typeVal"
                   dropdowntype="dropDownTypeVal" columntype="columnType" enableonline="isOnline"
                   ng-model="personAkStepColumnAnswer.AnswerId"
                   dropdown-default-value="defaultVal" on-item-selected="itemSelected(personAkStepColumnAnswer)"
                   column-sub-type="columnSubType" qr-code-reader-enabled="QRCodeReader" is-search-disabled="akColumn.DisableSearch">
    </lazy-dropdown>
</pop-up>